<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon> swap_calls</mat-icon>
            Hướng tuyến đường dây
        </ng-template>
        <future-electrical-plan></future-electrical-plan>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon> swap_calls</mat-icon>
            Quy hoạch trạm điện
        </ng-template>
        <future-power-station></future-power-station>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>select_all</mat-icon>
            Nguồn sơ cấp
        </ng-template>
        <primary-electricity></primary-electricity>
    </mat-tab>
</mat-tab-group>