<mat-card class="material">
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
        <button (click)="addCareer()" mat-raised-button>Thêm ngành nghề</button>
        <form [formGroup]="doanh_nghiep" autocomplete="off" (ngSubmit)="onSubmit(doanh_nghiep.getRawValue())">
            <div class="row">
                <div class="col-6 button-control -align-left my-auto">
                    <button type="submit" mat-raised-button>Lưu</button>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div formArrayName="danh_sach_nganh_nghe"
                        *ngFor="let item of doanh_nghiep.get('danh_sach_nganh_nghe')['controls']; let i = index;">
                        <div [formGroupName]="i">
                            <mat-form-field appearance="outline">
                                <mat-label>Ngành nghề kinh doanh</mat-label>
                                <mat-select formControlName="id_nganh_nghe_kinh_doanh">
                                    <mat-option *ngFor="let item of career" [value]="item.id_nganh_nghe_kinh_doanh">
                                        {{item.ma_nganh_nghe}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Ngành nghề kinh doanh chính</mat-label>
                                <input formControlName="nganh_nghe_kd_chinh" matInput placeholder="">
                            </mat-form-field>
                        </div>
                        <button (click)="removeCareer(i)" mat-raised-button>Xóa ngành nghề</button>
                    </div>

                    <section class="cb-section">
                        <!-- <mat-checkbox class="cb" formControlName="sct" #sct="ngModel" [(ngModel)]="_Service.companyinfo.sct">SCT</mat-checkbox> -->
                        <mat-checkbox class="cb" formControlName="hoat_dong"
                            [(ngModel)]="_Service.companyinfo.hoat_dong">
                            Còn hoạt động
                        </mat-checkbox>
                    </section>

                    <mat-form-field appearance="outline">
                        <mat-label>Tên doanh nghiệp</mat-label>
                        <input formControlName="ten_doanh_nghiep" matInput placeholder=""
                            [(ngModel)]="_Service.companyinfo.ten_doanh_nghiep">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Tên loại hình hoạt động</mat-label>
                        <mat-select formControlName="id_loai_hinh_hoat_dong"
                            [(ngModel)]="_Service.companyinfo.id_loai_hinh_hoat_dong">
                            <mat-option *ngFor="let item of Business" [value]="item.id_loai_hinh_hoat_dong">
                                {{item.ten_loai_hinh}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Phường xã</mat-label>
                        <mat-select formControlName="id_phuong_xa" [(ngModel)]="_Service.companyinfo.id_phuong_xa">
                            <mat-option *ngFor="let item of subdistrict" [value]="item.id_phuong_xa">
                                {{item.ten_phuong_xa}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Mã số thuế</mat-label>
                        <input formControlName="mst" matInput placeholder="" [(ngModel)]="_Service.companyinfo.mst">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Mã số thuế cha</mat-label>
                        <input formControlName="mst_parent" matInput placeholder=""
                            [(ngModel)]="_Service.companyinfo.mst_parent">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Người đại diện theo pháp luật</mat-label>
                        <input formControlName="nguoi_dai_dien" matInput placeholder=""
                            [(ngModel)]="_Service.companyinfo.nguoi_dai_dien">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Địa chỉ</mat-label>
                        <input formControlName="dia_chi" matInput placeholder=""
                            [(ngModel)]="_Service.companyinfo.dia_chi">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Điện thoại</mat-label>
                        <span matPrefix style="position: relative;vertical-align: 3px;">+84 &nbsp;&nbsp;</span>
                        <input formControlName="so_dien_thoai" matInput placeholder=""
                            [(ngModel)]="_Service.companyinfo.so_dien_thoai">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input formControlName="email" matInput placeholder="" [(ngModel)]="_Service.companyinfo.email">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Email (Nguồn: SCT)</mat-label>
                        <input formControlName="email_sct" matInput placeholder=""
                            [(ngModel)]="_Service.companyinfo.email_sct">
                    </mat-form-field>

                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>