<div id="intro" class="basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="text-container">
                    <div class="section-title">
                        <h3><strong>SỞ CÔNG THƯƠNG BÌNH PHƯỚC</strong></h3>
                    </div>
                    <h2>Cơ sở dữ liệu chuyên ngành</h2>
                    <p>Sở Công Thương là cơ quan chuyên môn thuộc Uỷ ban nhân dân tỉnh,
                        thành phố trực thuộc trung ương (sau đây gọi chung là Uỷ ban nhân dân cấp tỉnh)
                        có chức năng tham mưu, giúp Uỷ ban nhân dân cấp tỉnh thực hiện chức năng quản lý
                        nhà nước về công thương.</p>
                </div>
            </div>
            <div class="col-lg-5">
                <!-- <div class="image-container">
                    <img class="img-fluid" src="images/intro-office.jpg" alt="alternative">
                </div>  -->
            </div>
        </div>
    </div>
</div>

<div class="cards-1">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-xs-12 col-12">
                <div class="card" >
                    <span class="fa-stack" (click)="OpenQLTM()">
                        <span class="hexagon"><img src="/assets/img/background/marketing-icon.png"/></span>
                    </span>
                    <div class="card-body">
                        <h4 class="card-title">QUẢN LÝ THƯƠNG MẠI</h4>
                        <p>Tham mưu, giúp Lãnh đạo Sở thực hiện chức năng quản lý nhà nước về lĩnh vực thương
                            mại trên địa bàn tỉnh.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-xs-12 col-12">
                <div class="card" >
                    <span class="fa-stack" (click)="OpenQLNL()">
                        <span class="hexagon"><img src="/assets/img/background/electricity-icon-2.png"/></span>
                    </span>
                    <div class="card-body">
                        <h4 class="card-title">QUẢN LÝ NĂNG LƯỢNG</h4>
                        <p>Tham mưu giúp Giám đốc Sở thực hiện chức năng quản lý nhà nước về lĩnh vực hoạt
                            động điện lực và sử dụng điện tiết kiệm, hiệu quả trên địa bàn tỉnh Bình Phước</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-xs-12 col-12">
                <div class="card" >
                    <span class="fa-stack" (click)="OpenQLCN()">
                        <span class="hexagon"><img src="/assets/img/background/factory-icon.png"/></span>
                    </span>
                    <div class="card-body">
                        <h4 class="card-title">QUẢN LÝ CÔNG NGHIỆP</h4>
                        <p>Tham mưu, giúp Lãnh đạo Sở thực hiện chức năng quản lý nhà nước về lĩnh vực quản lý công
                            nghiệp đối với các thành phần kinh tế hoạt động trên địa bàn tỉnh.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-xs-12 col-12">
                <div class="card" >
                    <span class="fa-stack" (click)="OpenDN()">
                        <span class="hexagon"><img src="/assets/img/background/company-icon.png"/></span>
                    </span>
                    <div class="card-body">
                        <h4 class="card-title">QUẢN LÝ DOANH NGHIỆP NGÀNH CÔNG THƯƠNG</h4>
                        <p>Quản lý danh sách các doanh nghiệp có hoạt động sản xuất, kinh doanh thuộc sự quản lý của ngành Công thương.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
