<div>
    <app-topbar [sidebar]="sidebar" [typeOfUser]=1 [module]=MODULE01></app-topbar>

    <mat-sidenav-container class="sidenav-container" [hasBackdrop]="1">
        <mat-sidenav #sidebar mode="side" typeOfSideBar="0">
            <app-sidebar [typeOfSideBar]=1></app-sidebar>
        </mat-sidenav>
        <mat-sidenav-content [@onMainContentChange]="onSideNavChange ? 'open': 'close'" >
            <div class="container" >
                <div class="main_content" >
                    <router-outlet></router-outlet>
                </div>
            </div>
            <app-footer></app-footer>
        </mat-sidenav-content>
        
    </mat-sidenav-container>
    

    

    <!-- <app-footer></app-footer> -->
    <!-- <div (click)="scrollToTop()" class="scroll-to-top" *ngIf="pageYoffset > 0" >
    scrollToTop 
 </div> -->
</div>