<mat-card class="material" *ngIf="view == 'list'">
    <mat-card-content>
        <!-- <div class="button-control">
            <button mat-raised-button (click)="accordion.openAll()">
                <mat-icon>flip_to_front</mat-icon> Mở Tất Cả
            </button>
            <button mat-raised-button (click)="accordion.closeAll()">
                <mat-icon>flip_to_back</mat-icon> Đóng tất cả
            </button>
        </div> -->
        <mat-accordion class="accord" multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon> show_chart</mat-icon>
                        &nbsp;
                        <strong>DỮ LIỆU TỔNG HỢP</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <mat-card class="card1">
                            <mat-card-header>
                                <mat-card-title>
                                    <mat-icon>filter</mat-icon> Số lượng thuỷ điện:
                                </mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                {{soLuongDoanhNghiep| number: '1.0-0':'vi'}}
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <mat-card class="card1">
                            <mat-card-header>
                                <mat-card-title>
                                    <mat-icon>filter</mat-icon> Doanh thu hằng năm (tỷ đồng):
                                </mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                {{doanhThu | formatNumber}}
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <mat-card class="card1">
                            <mat-card-header>
                                <mat-card-title>
                                    <mat-icon>filter</mat-icon> Tổng sản lượng năm (triệu KWh):
                                </mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                {{sanluongnam | formatNumber}}
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <div class="row">

                    <div class="col-12 col-md-6 col-lg-4">
                        <mat-card class="card1">
                            <mat-card-header>
                                <mat-card-title>
                                    <mat-icon>filter</mat-icon> Doanh thu 6 tháng (tỷ đồng):
                                </mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                {{doanhThu6t | formatNumber}}
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <mat-card class="card1">
                            <mat-card-header>
                                <mat-card-title>
                                    <mat-icon>filter</mat-icon> Tổng sản lượng 6 tháng (triệu KWh):
                                </mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                {{sanluong6t | formatNumber}}
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>folder_open</mat-icon>
                        &nbsp;
                        <strong>DỮ LIỆU CHI TIẾT</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row">
                    <div class="col-3 col-lg-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Kỳ dữ liệu</mat-label>
                            <mat-select (selectionChange)="laydulieuThuyDien($event.value)" [(value)]="currentYear">
                                <mat-option *ngFor='let year of yearSelection' [value]='year'>{{year}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-3 col-lg-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Địa bàn</mat-label>
                            <mat-select #dSelect (selectionChange)="applyDistrictFilter($event)" multiple>
                                <mat-option [value]="0" (click)="toggleAllSelection()">Tất cả</mat-option>
                                <mat-option *ngFor='let district of districts' [value]='district.id'>
                                    {{district.ten_quan_huyen}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-3 col-lg-3 checkbox my-auto">
                        <mat-checkbox (change)="applyActionCheck($event)" [ngModel]="isChecked">Nhà máy đang xây dựng
                        </mat-checkbox>
                    </div>

                    <div class="col-lg-3 button-control my-auto">
                        <button mat-raised-button matTooltip="Xuất Excel"
                            (click)="ExportTOExcel('Thủy điện', 'Thủy điện')">
                            <mat-icon>file_download</mat-icon>
                        </button>
                        <button mat-raised-button matTooltip="Thêm mới" class="green" (click)="switchView()"
                            [hidden]=authorize>
                            <mat-icon>add_circle_outline</mat-icon>
                        </button>
                        <button *ngIf="selection.selected.length != 0" class="red" matTooltip="Xóa" mat-raised-button
                            (click)="openRemoveDialog()" [hidden]=authorize>
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button *ngIf="selection.selected.length == 1" matTooltip="Chỉnh sửa" mat-raised-button
                            (click)="switchEditMode()" [hidden]=authorize>
                            <mat-icon>edit</mat-icon>
                        </button>
                    </div>

                    <div class="col-12 col-lg-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Lọc dữ liệu</mat-label>
                            <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
                        </mat-form-field>
                    </div>
                </div>
                <hr />
                <div class="layout" *ngIf="filteredDataSource.data.length; else ShowEmpty" #TABLE>
                    <table mat-table [dataSource]="filteredDataSource" #table class="table-layout">
                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef disableClear>
                                <mat-checkbox (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                                    [aria-label]="checkboxLabel()">
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let element" class="center-cell">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(element) : null"
                                    [checked]="selection.isSelected(element)" [aria-label]="checkboxLabel(element)">
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="index">
                            <th mat-header-cell *matHeaderCellDef> STT </th>
                            <td mat-cell *matCellDef="let element; let i = index;" class="center-cell">
                                {{this.filteredDataSource.paginator.pageIndex == 0 ? i
                                + 1 : 1 + i + this.filteredDataSource.paginator.pageIndex *
                                this.filteredDataSource.paginator.pageSize}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Tdn" sticky>
                            <th mat-header-cell *matHeaderCellDef> Tên doanh nghiệp </th>
                            <td mat-cell *matCellDef="let element"> {{element.ten_doanh_nghiep}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Dd">
                            <th mat-header-cell *matHeaderCellDef> Địa điểm </th>
                            <td mat-cell *matCellDef="let element"> {{element.dia_diem }}</td>
                        </ng-container>

                        <ng-container matColumnDef="Cx">
                            <th mat-header-cell *matHeaderCellDef> Công xuất thiết kế (MW)
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.cong_suat_thiet_ke | formatNumber}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Lnxbq">
                            <th mat-header-cell *matHeaderCellDef> Lượng nước xả bình quân m<sup>3</sup>/s
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.luong_nuoc_xa_binh_quan}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Dthc">
                            <th mat-header-cell *matHeaderCellDef> Dung tích hồ chứa 10<sup>6</sup> m3
                            <td mat-cell *matCellDef="let element"> {{element.dung_tich_ho_chua | formatNumber}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Sl6tck">
                            <th mat-header-cell *matHeaderCellDef> Sản lượng 6 tháng/cùng kỳ
                                (triệu KWh) </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.san_luong_6_thang | formatNumber}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Slnck">
                            <th mat-header-cell *matHeaderCellDef>Sản lượng năm/cùng kỳ
                                (triệu KWh)
                            <td mat-cell *matCellDef="let element"> {{element.san_luong_nam | formatNumber}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Dt_6t">
                            <th mat-header-cell *matHeaderCellDef> Doanh thu 6 tháng (Tỷ đồng)</th>
                            <td mat-cell *matCellDef="let element"> {{element.doanh_thu_6_thang | formatNumber}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Dt_n">
                            <th mat-header-cell *matHeaderCellDef> Doanh thu năm (Tỷ đồng)</th>
                            <td mat-cell *matCellDef="let element"> {{element.doanh_thu_nam | formatNumber}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="trang_thai">
                            <th mat-header-cell *matHeaderCellDef> Trạng thái hoạt động </th>
                            <td mat-cell *matCellDef="let element"> {{element.trang_thai }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Paupttcctvhd">
                            <th mat-header-cell *matHeaderCellDef> Phương án ứng phó thiên tai cho công trình vùng hạ du
                                (trong gđ thi công) </th>
                            <td mat-cell *matCellDef="let element"> {{element.phuong_an_ung_pho_thien_tai_ha_du}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Pdpauptt">
                            <th mat-header-cell *matHeaderCellDef> Phê duyệt phương án ứng phó thiên tai (năm/lần) </th>
                            <td mat-cell *matCellDef="let element"> {{element.phe_duyet_phuong_an_ung_pho_thien_tai}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Paupvthkcdhctd">
                            <th mat-header-cell *matHeaderCellDef> Phương án ứng phó với tình huống khẩn cấp đập, hồ
                                chứa thủy điện (năm/lần) </th>
                            <td mat-cell *matCellDef="let element"> {{element.phuong_an_ung_pho_khan_cap}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Qtvhhctd">
                            <th mat-header-cell *matHeaderCellDef> Quy trình vận hành hồ chứa thủy điện (khi có thay
                                đổi) </th>
                            <td mat-cell *matCellDef="let element"> {{element.quy_trinh_van_hanh_ho_chua}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Qtdhctd">
                            <th mat-header-cell *matHeaderCellDef> Quan trắc đập, hồ chứa thủy điện </th>
                            <td mat-cell *matCellDef="let element"> {{element.quan_trac_dap_ho}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Kdd">
                            <th mat-header-cell *matHeaderCellDef> Kiểm định đập (5 năm/lần) </th>
                            <td mat-cell *matCellDef="let element"> {{element.kiem_dinh_dap}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Ldhtcbvhd">
                            <th mat-header-cell *matHeaderCellDef> Lắp đặt hệ thống cảnh báo vùng hạ du </th>
                            <td mat-cell *matCellDef="let element"> {{element.lap_dat_he_thong_canh_bao_ha_du}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Btct">
                            <th mat-header-cell *matHeaderCellDef> Bảo trì công trình </th>
                            <td mat-cell *matCellDef="let element"> {{element.bao_trinh_cong_trinh}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Lcsdlhctd">
                            <th mat-header-cell *matHeaderCellDef> Lập cơ sở dữ liệu hồ chứa thủy điện </th>
                            <td mat-cell *matCellDef="let element"> {{element.lap_co_so_du_lieu_ho_chua_thuy_dien}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Pabvdhctd">
                            <th mat-header-cell *matHeaderCellDef> Phương án bảo vệ đập, hồ chứa thủy điện </th>
                            <td mat-cell *matCellDef="let element"> {{element.phuong_an_bao_ve_dap_ho_chua_thuy_dien}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Bcdgatdhctd">
                            <th mat-header-cell *matHeaderCellDef> Báo cáo đánh giá an toàn đập, hồ chứa thủy điện </th>
                            <td mat-cell *matCellDef="let element"> {{element.bao_cao_danh_gia_an_toan}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Bchtatdhctd">
                            <th mat-header-cell *matHeaderCellDef> Báo cáo hiện trạng an toàn đập, hồ chứa thủy điện
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.bao_cao_hien_trang_an_toan_dap_ho}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Tkdkatdhctd">
                            <th mat-header-cell *matHeaderCellDef> Tờ khai đăng ký an toàn đập, hồ chứa thủy điện </th>
                            <td mat-cell *matCellDef="let element"> {{element.to_khai_dang_ky_an_toan_dap_ho}}</td>
                        </ng-container>

                        <ng-container matColumnDef="tinh_trang_hoat_dong_id">
                            <th mat-header-cell *matHeaderCellDef> Tình trạng hoạt động </th>
                            <td mat-cell *matCellDef="let element"> {{element.id_trang_thai_hoat_dong == 1 ? 'Hoạt động'
                                : 'Không hoạt động'}}</td>
                        </ng-container>

                        <ng-container matColumnDef="thoi_gian_chinh_sua_cuoi">
                            <th mat-header-cell *matHeaderCellDef> Thời gian cập nhật </th>
                            <td mat-cell *matCellDef="let element"> {{element.thoi_gian_chinh_sua_cuoi | date:
                                'dd/MM/yyyy, h:mm a'}}
                            </td>
                        </ng-container>

                        <tr mat-header-row class="table-header" *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                        <tr mat-row class="table-row" *matRowDef="let row; columns: displayedColumns;let i = index; ">
                    </table>

                </div>
                <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
                <ng-template #ShowEmpty>
                    <h1 class="text-center">Không có dữ liệu</h1>
                </ng-template>
                <br>
            </mat-expansion-panel>
        </mat-accordion>

    </mat-card-content>
</mat-card>

<!-- Form view -->
<mat-card class="material" *ngIf="view == 'form'">
    <mat-card-content>
        <mat-accordion>
            <mat-card-header>
                <mat-card-title>
                    <strong class="mt-3">THÔNG TIN DỮ LIỆU</strong>
                    <button mat-raised-button color="primary" matTooltip="Trở về danh sách"
                        class="float-right set-bg-color-primary" (click)="switchView()">
                        <mat-icon>menu</mat-icon> &nbsp;Danh sách
                    </button>
                </mat-card-title>
            </mat-card-header>
            <hr>
            <form [formGroup]="formData" (ngSubmit)="onCreate()">
                <div class="form-group row">
                    <div class="col-md-12">
                        <mat-card-header>
                            <mat-card-title class="text-left">
                                Thông tin doanh nghiệp
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="row">
                                <input matInput formControlName="id" type="text" class="o_invisible">
                                <div class="col-lg-6 col-md-12">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Tên doanh nghiệp</mat-label>
                                        <input matInput formControlName="ten_doanh_nghiep">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6 col-lg-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Địa bàn</mat-label>
                                        <mat-select formControlName="id_phuong_xa">
                                            <mat-optgroup *ngFor="let dt of districtWardSorted | keyvalue"
                                                [label]="dt.key">
                                                <mat-option *ngFor='let dw of dt.value' [value]='dw.id_phuong_xa'>
                                                    {{dw.ten_phuong_xa}}
                                                </mat-option>
                                            </mat-optgroup>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Trạng thái hoạt động</mat-label>
                                        <mat-select formControlName="id_trang_thai_hoat_dong">
                                            <mat-option *ngFor="let item of statusList"
                                                [value]="item.id_trang_thai_hoat_dong">
                                                {{item.ten_trang_thai_hoat_dong}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-card-content>
                    </div>

                    <div class="col-md-12">
                        <mat-card-header>
                            <mat-card-title class="text-left">
                                Thông số
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="row">


                                <div class="col-lg-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Lượng nước xả bình quân</mat-label>
                                        <input matInput type="number" formControlName="luong_nuoc_xa_binh_quan">
                                    </mat-form-field>
                                </div>

                                <div class="col-lg-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Công xuất thiết kế (MW)</mat-label>
                                        <input matInput type="number" formControlName="cong_suat_thiet_ke">
                                    </mat-form-field>
                                </div>

                                <div class="col-lg-6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Dung tích hồ chứa 106 m3</mat-label>
                                        <input matInput type="number" formControlName="dung_tich_ho_chua">
                                    </mat-form-field>
                                </div>

                                <div class="col-lg-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Doanh thu 6 tháng</mat-label>
                                        <input matInput type="number" formControlName="doanh_thu_6_thang">
                                    </mat-form-field>
                                </div>

                                <div class="col-lg-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Sản lượng 6 tháng
                                            (triệu KWh)</mat-label>
                                        <input matInput type="number" formControlName="san_luong_6_thang">
                                    </mat-form-field>
                                </div>

                                <div class="col-lg-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Doanh thu</mat-label>
                                        <input matInput type="number" formControlName="doanh_thu_nam">
                                    </mat-form-field>
                                </div>

                                <div class="col-lg-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Sản lượng năm
                                            (triệu KWh)</mat-label>
                                        <input matInput type="number" formControlName="san_luong_nam">
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-card-content>
                    </div>

                    <div class="col-md-12">
                        <mat-card-header>
                            <mat-card-title class="text-left">
                                Thông tin chi tiết
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="row">
                                <div class="col-lg-6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Phương án ứng phó thiên tai cho công trình vùng hạ du
                                            (trong gđ thi công)</mat-label>
                                        <input matInput formControlName="phuong_an_ung_pho_thien_tai_ha_du">
                                    </mat-form-field>
                                </div>

                                <div class="col-lg-6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Phê duyệt pương án ứng phó thiên tai (năm/lần)</mat-label>
                                        <input matInput formControlName="phe_duyet_phuong_an_ung_pho_thien_tai">
                                    </mat-form-field>
                                </div>

                                <div class="col-lg-6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Phương án ứng phó với tình huống khẩn cấp đập, hồ
                                            chứa thủy điện (năm/lần)</mat-label>
                                        <input matInput formControlName="phuong_an_ung_pho_khan_cap">
                                    </mat-form-field>
                                </div>

                                <div class="col-lg-6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Quy trình vận hành hồ chứa thủy điện (khi có thay
                                            đổi)</mat-label>
                                        <input matInput formControlName="quy_trinh_van_hanh_ho_chua">
                                    </mat-form-field>
                                </div>

                                <div class="col-lg-6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Quan trắc đập, hồ chứa thủy điện</mat-label>
                                        <input matInput formControlName="quan_trac_dap_ho">
                                    </mat-form-field>
                                </div>

                                <div class="col-lg-6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Kiểm định đập (5 năm/lần)</mat-label>
                                        <input matInput formControlName="kiem_dinh_dap">
                                    </mat-form-field>
                                </div>

                                <div class="col-lg-6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Lắp đặt hệ thống cảnh báo vùng hạ du</mat-label>
                                        <input matInput formControlName="lap_dat_he_thong_canh_bao_ha_du">
                                    </mat-form-field>
                                </div>

                                <div class="col-lg-6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Bảo trì công trình</mat-label>
                                        <input matInput formControlName="bao_trinh_cong_trinh">
                                    </mat-form-field>
                                </div>

                                <div class="col-lg-6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Cơ sở dữ liệu hồ chứa thủy điện</mat-label>
                                        <input matInput formControlName="lap_co_so_du_lieu_ho_chua_thuy_dien">
                                    </mat-form-field>
                                </div>

                                <div class="col-lg-6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Phương án bảo vệ đập, hồ chứa thủy điện</mat-label>
                                        <input matInput formControlName="phuong_an_bao_ve_dap_ho_chua_thuy_dien">
                                    </mat-form-field>
                                </div>

                                <div class="col-lg-6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Báo cáo đánh giá an toàn đập, hồ chứa thủy điện</mat-label>
                                        <input matInput formControlName="bao_cao_danh_gia_an_toan">
                                    </mat-form-field>
                                </div>

                                <div class="col-lg-6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Báo cáo hiện trạng an toàn</mat-label>
                                        <input matInput formControlName="bao_cao_hien_trang_an_toan_dap_ho">
                                    </mat-form-field>
                                </div>

                                <div class="col-lg-6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Tờ khai đăng ký</mat-label>
                                        <input matInput formControlName="to_khai_dang_ky_an_toan_dap_ho">
                                    </mat-form-field>
                                </div>

                            </div>
                        </mat-card-content>
                    </div>

                    <div class="col-md-12">
                        <button type="submit" class="btn btn-success float-right">Lưu thông tin</button>
                        <button class="btn btn-danger set-bg-color-danger float-left"
                            (click)="clearTable($event)">Xóa</button>
                    </div>
                </div>
            </form>
        </mat-accordion>
    </mat-card-content>
</mat-card>