<mat-card class="material">
    <mat-card-header>
        <mat-card-title><strong>
                <h3>Cập nhật thông tin tài khoản</h3>
            </strong></mat-card-title>
        <mat-card-subtitle hidden>
            show={{show}}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="postuser" autocomplete="off" (ngSubmit)="onSubmit(postuser.getRawValue())">
            <div class="row">
                <div class="col-12 button-control my-auto">
                    <button type="submit" mat-raised-button>Lưu</button>
                    <button mat-raised-button type="button" (click)="toggle()">Hiển thị mật khẩu</button>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Tên Đăng nhập</mat-label>
                        <input formControlName="user_name" matInput placeholder=""
                            [(ngModel)]="_Service.postuser.user_name" readonly style="color: red;">
                    </mat-form-field>

                    <ng-container *ngIf="show; else elseTemplate">
                        <mat-form-field appearance="outline">
                            <mat-label>Mật khẩu
                            </mat-label>
                            <input formControlName="password" type="password" matInput placeholder="">
                        </mat-form-field>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <mat-form-field appearance="outline">
                            <mat-label>Mật khẩu
                            </mat-label>
                            <input formControlName="password" type="text" matInput placeholder="">
                        </mat-form-field>
                    </ng-template>

                    <mat-form-field appearance="outline">
                        <mat-label>Tên tài khoản</mat-label>
                        <input formControlName="full_name" matInput placeholder=""
                            [(ngModel)]="_Service.postuser.full_name" readonly style="color: red;">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input formControlName="user_email" matInput placeholder=""
                            [(ngModel)]="_Service.postuser.user_email">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Số Điện thoại</mat-label>
                        <input formControlName="user_phone" matInput placeholder=""
                            [(ngModel)]="_Service.postuser.user_phone">
                    </mat-form-field>
                </div>

                <div class="col-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Chức vụ</mat-label>
                        <input formControlName="position" matInput placeholder=""
                            [(ngModel)]="_Service.postuser.position">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Phòng ban</mat-label>
                        <mat-select formControlName="org_id" [(ngModel)]="_Service.postuser.org_id">
                            <mat-option *ngFor="let item of UserOrg" [value]="item.org_id">
                                {{item.org_name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Loại tài khoản</mat-label>
                        <mat-select formControlName="user_role_id" [(ngModel)]="_Service.postuser.user_role_id">
                            <mat-option *ngFor="let item of UserRole" [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </mat-card-content>
    <!-- <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Đóng</button>
    </mat-dialog-actions> -->
</mat-card>