<mat-card class="material">
    <mat-card-header>
        <mat-card-subtitle hidden>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-accordion class="accord" multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>folder_open</mat-icon>
                        &nbsp;
                        <strong>DANH SÁCH TÀI KHOẢN</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row">
                    <div class="col-8 col-lg-8 button-control -align-left my-auto">
                        <button mat-raised-button (click)="AddUser()">Thêm tài khoản</button>

                        <button mat-raised-button (click)="removeRows()">Kích hoạt/Vô hiệu hóa tài
                            khoản</button>

                        <button mat-raised-button (click)="ResetPassword()">Reset mật khẩu</button>

                        <button mat-raised-button class="green"
                            (click)="ExportTOExcel('Danh sách tài khoản','Danh sách tài khoản')">Xuất
                            Excel</button>
                    </div>

                    <div class="col-4 col-lg-4 checkbox my-auto text-right">
                        <mat-checkbox (change)="applyExpireCheck($event)" [ngModel]="isChecked">TK ngừng hoạt
                            động
                        </mat-checkbox>
                    </div>

                    <div class="col-lg-12 mt-2">
                        <mat-form-field appearance="outline">
                            <mat-label>Lọc dữ liệu</mat-label>
                            <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
                        </mat-form-field>
                    </div>
                </div>
                <hr/>
                <div class="layout" #table>
                    <table mat-table [dataSource]="dataSource1" class="table-layout" id="small-table">
                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef>
                                <mat-checkbox (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                                    [aria-label]="checkboxLabel()">
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row" class="center-cell">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(row) : null"
                                    [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="index">
                            <th mat-header-cell *matHeaderCellDef> STT </th>
                            <td mat-cell *matCellDef="let element; let i = index;" class="center-cell">
                                {{i + 1 + (paginator.pageIndex * paginator.pageSize)}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="user_id">
                            <th hidden mat-header-cell *matHeaderCellDef> ID </th>
                            <td hidden mat-cell *matCellDef="let element"> {{element.user_id}} </td>
                        </ng-container>

                        <ng-container matColumnDef="user_name">
                            <th mat-header-cell *matHeaderCellDef> Tên tài khoản </th>
                            <td mat-cell *matCellDef="let element" (click)="UpdateUser(element.user_id)" class="jump">
                                {{element.user_name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="full_name">
                            <th mat-header-cell *matHeaderCellDef> Tên người sử dụng </th>
                            <td mat-cell *matCellDef="let element"> {{element.full_name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="user_email">
                            <th mat-header-cell *matHeaderCellDef> Email </th>
                            <td mat-cell *matCellDef="let element"> {{element.user_email}}</td>
                        </ng-container>

                        <ng-container matColumnDef="user_position">
                            <th mat-header-cell *matHeaderCellDef> Chức danh </th>
                            <td mat-cell *matCellDef="let element"> {{element.user_position}}</td>
                        </ng-container>

                        <ng-container matColumnDef="role_id">
                            <th mat-header-cell *matHeaderCellDef> Loại tài khoản </th>
                            <td mat-cell *matCellDef="let element">
                                <select [(ngModel)]="element.role_id" style="border: none; color: black; width: auto;"
                                    disabled>
                                    <option *ngFor="let item of userrole" [value]="item.id">
                                        {{item.name}}
                                    </option>
                                </select>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="org_name">
                            <th mat-header-cell *matHeaderCellDef> Phòng ban </th>
                            <td mat-cell *matCellDef="let element"> {{element.org_name}}</td>
                        </ng-container>

                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef> Trạng thái </th>
                            <td mat-cell *matCellDef="let element" style="width: 120px;"> {{element.status && 'Hoạt
                                động' || 'Ngừng hoạt
                                động'}}</td>
                        </ng-container>

                        <tr mat-header-row class="table-header" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row class="table-row" *matRowDef="let row; columns: displayedColumns;let i = index; ">
                    </table>
                </div>
                <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
            </mat-expansion-panel>
        </mat-accordion>

    </mat-card-content>
</mat-card>