<h2 mat-dialog-title style="text-align:center;">Import dữ liệu</h2>

<mat-dialog-content class="mat-typography">
    <div class="row">
        <div class="col-lg col-md col-xs">
            <mat-form-field appearance="outline" class="col-lg col-md col-xs">
                <mat-label>Năm dữ liệu</mat-label>
                <mat-select [(ngModel)]="selectedYear" (selectionChange)="changePeriod()">
                    <mat-option *ngFor="let item of years" [value]="item">
                        {{item}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        
    </div>
    <div class="container col-lg col-md col-xs">
        <label class="btn btn-success" for="customFile">
            Chọn file
        </label>
        <input class="btn btn-success" id="customFile" type="file" (change)="uploadExcel($event)" hidden #inputFile>
        {{name}}
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <div class="btn btn-primary" style="margin-right: 5px;" (click)="save()">Lưu</div>
    <button mat-raised-button mat-dialog-close color="warn">Hủy</button>
</mat-dialog-actions>