<mat-card class="material">
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <form autocomplete="off" (ngSubmit)="onSubmit()">
                <div class="col-12 button-control -align-left my-auto">
                    <button (click)="onSubmit" mat-raised-button>Lưu</button>

                    <button mat-raised-button class="red" (click)="removeRows()">Xóa thương nhân cung cấp</button>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-12 button-control -align-left my-auto">
                <button mat-raised-button class="white" (click)="addRow()">
                    <mat-icon>add_circle_outline</mat-icon> Thêm dòng
                </button>
                <button mat-raised-button class="white" (click)="insertRow()">
                    <mat-icon>add_circle</mat-icon> Chèn dòng
                </button>
                <button mat-raised-button class="white" (click)="deleteRow()">
                    <mat-icon>block</mat-icon> Xóa dòng
                </button>
            </div>
        </div>

        <div class="layout" id="small" #TABLE>
            <table mat-table class="table-layout" id="small-table" [dataSource]="dataSource">

                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row" class="center-cell">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef> STT </th>
                    <td mat-cell *matCellDef="let element; let i = index;" class="center-cell">{{i + 1 +
                        (paginator.pageIndex * paginator.pageSize)}}</td>
                </ng-container>

                <ng-container matColumnDef="id">
                    <th hidden mat-header-cell *matHeaderCellDef> ID </th>
                    <td hidden mat-cell *matCellDef="let element">
                        <input class="text-left" [(ngModel)]="element.id">
                    </td>
                </ng-container>

                <ng-container matColumnDef="id_thuong_nhan">
                    <th mat-header-cell *matHeaderCellDef> Tên thương nhân </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-select [(ngModel)]="element.id_thuong_nhan">
                            <mat-option *ngFor="let item of Businessman" [value]="item.id_thuong_nhan">
                                {{item.ten_thuong_nhan}}
                            </mat-option>
                        </mat-select>
                    </td>
                </ng-container>

                <ng-container matColumnDef="id_quan_ly">
                    <th hidden mat-header-cell *matHeaderCellDef> ID Sản lượng </th>
                    <td hidden mat-cell *matCellDef="let element"> {{element.id_quan_ly}} </td>
                </ng-container>

                <ng-container matColumnDef="id_linh_vuc">
                    <th hidden mat-header-cell *matHeaderCellDef> ID lĩnh vực </th>
                    <td hidden mat-cell *matCellDef="let element"> {{element.id_linh_vuc}} </td>
                </ng-container>

                <tr mat-header-row class="table-header" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row class="table-row" *matRowDef="let row; columns: displayedColumns;let i = index;"
                    (click)="changeRow(i)">
            </table>
        </div>
        <mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>

    </mat-card-content>
</mat-card>