<mat-card class="material">
    <mat-card-content>
        <mat-card-header>
            <mat-card-title>
                <div class="button-control">
                    <button mat-raised-button class="green"
                        (click)="ExportTOExcel('KINH DOANH RƯỢU','KINH DOANH RƯỢU')">Xuất
                        Excel</button>

                    <button mat-raised-button (click)="Back()">
                        <mat-icon>keyboard_backspace</mat-icon>
                    </button>
                </div>
            </mat-card-title>
            <mat-card-subtitle hidden>
                type={{type}}
                id_linh_vuc={{id_linh_vuc}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-accordion class="accord" multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon> show_chart</mat-icon>
                        &nbsp;
                        <strong>DỮ LIỆU TỔNG HỢP</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row">
                    <div class="col-3">
                        <mat-card class="card2">
                            <mat-card-header>
                                <mat-card-title>
                                    <mat-icon>filter</mat-icon> Tổng số doanh nghiệp bán buôn rượu:
                                </mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                {{this.filteredDataSource.filteredData.length | number: '1.0-0':'vi'}} doanh nghiệp
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-3">
                        <mat-card class="card2">
                            <mat-card-header>
                                <mat-card-title>
                                    <mat-icon>filter</mat-icon> Tổng số lượng bán ra:
                                </mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                {{SanLuongBanRa | number: '1.0-4':'vi'}} (lít)
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-3">
                        <mat-card class="card2">
                            <mat-card-header>
                                <mat-card-title>
                                    <mat-icon>filter</mat-icon> Tổng trị giá bán ra:
                                </mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                {{TriGiaBanRa | number: '1.0-4':'vi'}} (1000 VNĐ)
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>folder_open</mat-icon>
                        &nbsp;
                        <strong>DỮ LIỆU CHI TIẾT</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row">
                    <div class="col-2 col-lg-2">
                        <mat-form-field appearance="outline">
                            <mat-label>Năm cấp GP</mat-label>
                            <mat-select (selectionChange)="applyFilter($event)" multiple
                                [(ngModel)]="filterModel.nam_cap">
                                <mat-option *ngFor='let item of years' [value]='item.value'>
                                    {{item.des}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-2 col-lg-2">
                        <mat-form-field appearance="outline">
                            <mat-label>Năm cập nhật SL</mat-label>
                            <mat-select (selectionChange)="applyFilter($event)" multiple
                                [(ngModel)]="filterModel.time_id">
                                <mat-option *ngFor='let item of years' [value]='item.value'>
                                    {{item.des}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-2 col-lg-2">
                        <mat-form-field appearance="outline">
                            <mat-label>Địa bàn</mat-label>
                            <mat-select (selectionChange)="applyFilter($event)" multiple
                                [(ngModel)]="filterModel.ten_quan_huyen">
                                <mat-option *ngFor='let item of district' [value]='item.ten_quan_huyen'>
                                    {{item.ten_quan_huyen}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-2 col-lg-2">
                        <mat-form-field appearance="outline">
                            <mat-label>Trạng thái giấy phép</mat-label>
                            <mat-select (selectionChange)="applyFilter($event)" multiple
                                [(ngModel)]="filterModel.is_expired">
                                <mat-option *ngFor='let item of status' [value]='item'>
                                    {{item}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-4 col-lg-4 button-control -align-right my-auto" [hidden]=authorize>
                        <button mat-raised-button (click)="Addliquorbusiness()">Thêm DN</button>

                        <button mat-raised-button (click)="ManageBusiness(type, id_linh_vuc)">QLTN</button>

                        <button mat-raised-button class="red" (click)="removeRows()">Xóa DN</button>
                    </div>
                </div>

                <mat-form-field>
                    <mat-label>Lọc dữ liệu</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
                </mat-form-field>

                <div class="layout" #table>
                    <table mat-table [dataSource]="filteredDataSource" class="table-layout" id="small-table2">

                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef>
                                <mat-checkbox (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                                    [aria-label]="checkboxLabel()">
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row" class="center-cell">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(row) : null"
                                    [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="index">
                            <th mat-header-cell *matHeaderCellDef> STT </th>
                            <td mat-cell *matCellDef="let element; let i = index;" class="center-cell">
                                {{i + 1 + (paginator.pageIndex * paginator.pageSize)}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="id_ruou">
                            <th hidden mat-header-cell *matHeaderCellDef> ID </th>
                            <td hidden mat-cell *matCellDef="let element"> {{element.id_ruou}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ten_doanh_nghiep">
                            <th mat-header-cell *matHeaderCellDef> Tên doanh nghiệp </th>
                            <td mat-cell *matCellDef="let element"
                                [ngClass]="{'warning': element.ten_thuong_nhan == ''}"
                                (click)="Addliquorbusiness(element.id_ruou, element.time_id)" class="jump">
                                {{element.ten_doanh_nghiep}}
                                <ng-container *ngIf="element.ten_thuong_nhan == ''; else elseTemplate">
                                    <br> (Chưa cập nhật thương nhân)
                                </ng-container>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="mst">
                            <th mat-header-cell *matHeaderCellDef> Mã số thuế </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.mst}} </td>
                        </ng-container>

                        <ng-container matColumnDef="so_luong">
                            <th mat-header-cell *matHeaderCellDef> Số lượng (lít) </th>
                            <td mat-cell *matCellDef="let element" class="right-cell"> {{element.so_luong | number:
                                '1.0-4':'vi'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="tri_gia">
                            <th mat-header-cell *matHeaderCellDef> Trị giá (1000 VNĐ) </th>
                            <td mat-cell *matCellDef="let element" class="right-cell"> {{element.tri_gia | number:
                                '1.0-4':'vi'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ten_thuong_nhan">
                            <th mat-header-cell *matHeaderCellDef> Tên thương nhân cung cấp </th>
                            <td mat-cell *matCellDef="let element"> {{element.ten_thuong_nhan}} </td>
                        </ng-container>

                        <ng-container matColumnDef="dia_chi_tn">
                            <th mat-header-cell *matHeaderCellDef> Địa chỉ thương nhân cung cấp </th>
                            <td mat-cell *matCellDef="let element"> {{element.dia_chi_tn}} </td>
                        </ng-container>

                        <ng-container matColumnDef="so_dien_thoai_tn">
                            <th mat-header-cell *matHeaderCellDef> Số điện thoại thương nhân cung cấp </th>
                            <td mat-cell *matCellDef="let element"> {{element.so_dien_thoai_tn}} </td>
                        </ng-container>

                        <ng-container matColumnDef="so_giay_phep">
                            <th mat-header-cell *matHeaderCellDef> Số giấy phép </th>
                            <td mat-cell *matCellDef="let element"> {{element.so_giay_phep}}</td>
                        </ng-container>

                        <ng-container matColumnDef="ngay_cap">
                            <th mat-header-cell *matHeaderCellDef> Ngày cấp </th>
                            <td mat-cell *matCellDef="let element"> {{element.ngay_cap}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="ngay_het_han">
                            <th mat-header-cell *matHeaderCellDef> Ngày hết hạn </th>
                            <td mat-cell *matCellDef="let element"> {{element.ngay_het_han}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="dia_chi_day_du">
                            <th mat-header-cell *matHeaderCellDef> Địa chỉ </th>
                            <td mat-cell *matCellDef="let element"> {{element.dia_chi_day_du}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ten_quan_huyen">
                            <th hidden mat-header-cell *matHeaderCellDef> Địa bàn </th>
                            <td hidden mat-cell *matCellDef="let element"> {{element.ten_quan_huyen}} </td>
                        </ng-container>

                        <ng-container matColumnDef="so_dien_thoai">
                            <th mat-header-cell *matHeaderCellDef> Số điện thoại </th>
                            <td mat-cell *matCellDef="let element"> {{element.so_dien_thoai}} </td>
                        </ng-container>

                        <ng-container matColumnDef="nguoi_dai_dien">
                            <th mat-header-cell *matHeaderCellDef> Người đại diện </th>
                            <td mat-cell *matCellDef="let element"> {{element.nguoi_dai_dien}}</td>
                        </ng-container>

                        <ng-container matColumnDef="tinh_trang_hoat_dong">
                            <th mat-header-cell *matHeaderCellDef> Trạng thái hoạt động </th>
                            <td mat-cell *matCellDef="let element"> {{element.tinh_trang_hoat_dong}}</td>
                        </ng-container>

                        <ng-container matColumnDef="ghi_chu">
                            <th mat-header-cell *matHeaderCellDef> Ghi chú </th>
                            <td mat-cell *matCellDef="let element"> {{element.ghi_chu}}</td>
                        </ng-container>

                        <ng-container matColumnDef="time_id">
                            <th hidden mat-header-cell *matHeaderCellDef> Thời gian </th>
                            <td hidden mat-cell *matCellDef="let element"> {{element.time_id}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="thoi_gian_chinh_sua_cuoi">
                            <th mat-header-cell *matHeaderCellDef> Thời gian cập nhật </th>
                            <td mat-cell *matCellDef="let element"> {{element.thoi_gian_chinh_sua_cuoi | date:
                                'dd/MM/yyyy, h:mm a'}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="all">
                            <th mat-header-cell *matHeaderCellDef [attr.colspan]="11"></th>
                        </ng-container>
                        <ng-container matColumnDef="san_luong">
                            <th mat-header-cell *matHeaderCellDef [attr.colspan]="2">Sản lượng bán ra trong năm</th>
                        </ng-container>
                        <ng-container matColumnDef="rest">
                            <th mat-header-cell *matHeaderCellDef [attr.colspan]="3"></th>
                        </ng-container>
                        <tr mat-header-row class="table-header"
                            *matHeaderRowDef="['all','san_luong', 'rest']; sticky: true">
                        </tr>

                        <tr mat-header-row class="table-header" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row class="table-row" *matRowDef="let row; columns: displayedColumns;let i = index; ">
                    </table>
                </div>
                <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
            </mat-expansion-panel>
        </mat-accordion>

    </mat-card-content>
</mat-card>