<mat-card class="material">
    <mat-card-header>
        <mat-card-title>
            <strong>
                THÔNG TIN VỀ TÌNH HÌNH NHẬP KHẨU KHẨU
            </strong>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <hr>
    <mat-card-content>
        <div class="row">
            <div class="col-6 col-lg-3">
                <mat-form-field appearance="outline">
                    <mat-label>Thời gian</mat-label>
                    <input matInput [matDatepicker]="dp" [formControl]="date" readonly>
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event)"
                        (monthSelected)="chosenMonthHandler($event, dp)" panelClass="example-month-picker">
                    </mat-datepicker>
                </mat-form-field>
            </div>

            <div class="col-6 col-lg-3">
                <mat-form-field appearance="outline">
                    <mat-label>Nguồn dữ liệu: </mat-label>
                    <mat-select (selectionChange)="applyDataTarget($event)" [(ngModel)]="dataTargetId">
                        <mat-option *ngFor="let item of dataTargets" [value]="item.id">
                            {{ item.unit }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-12 col-lg-6 button-control my-auto">
                <button mat-raised-button
                    (click)="ExportTOExcel('Thông tin tình hình nhập khẩu','Thông tin tình hình nhập khẩu')">
                    <mat-icon>cloud_download</mat-icon> Xuất dữ liệu
                </button>
            </div>
        </div>
        <h5 *ngIf="!dataSource.data.length" class="text-center mt-3 mb-3">KHÔNG CÓ DỮ LIỆU TRONG THÁNG HIỆN TẠI
        </h5>
        <div class="layout mt-3" #TABLE>
            <table mat-table [dataSource]="dataSource" matSort class="table-layout" id="small-table">

                <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="3" class="fillColor">STT</th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        {{ i + 1 }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="tt">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="3" class="fillColor">
                        TT
                    </th>
                    <td mat-cell *matCellDef="let element" class="fillColor">
                        {{ element.tt }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="ten_san_pham">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="3" class="fillColor">
                        Tên sản phẩm
                    </th>
                    <td mat-cell *matCellDef="let element" class="fillColor"
                        [ngClass]="{'highlight': element.ten_san_pham == 'Tổng Kim ngạch nhập khẩu', 'highlight1': element.ten_san_pham == 'Mặt hàng nhập khẩu chủ yếu'}">
                        {{ element.ten_san_pham }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="don_vi_tinh">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="3" class="fillColor">
                        Đơn vị tính
                    </th>
                    <td mat-cell *matCellDef="let element" class="fillColor"
                        [ngClass]="{'highlight': element.ten_san_pham == 'Tổng Kim ngạch nhập khẩu'}">
                        {{ element.don_vi_tinh }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="thoi_gian_chinh_sua_cuoi">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="3" class="fillColor"> Thời gian
                        cập nhật </th>
                    <td mat-cell *matCellDef="let element"> {{element.thoi_gian_chinh_sua_cuoi | date:
                        'dd/MM/yyyy, h:mm a'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="thuc_hien_bao_cao_thang">
                    <th mat-header-cell *matHeaderCellDef [attr.colspan]="3" class="fillColor">
                        Tháng {{month}}
                    </th>
                </ng-container>

                <ng-container matColumnDef="cong_don_den_ky_bao_cao">
                    <th mat-header-cell *matHeaderCellDef [attr.colspan]="3" class="fillColor">
                        {{month}} Tháng
                    </th>
                </ng-container>

                <!-- <ng-container matColumnDef="luong_thang">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Sản lượng (Nghìn tấn)</th>
                    <td mat-cell *matCellDef="let element" class="luong">
                        {{ element.san_luong_thang | formatNumber }}
                    </td>
                </ng-container> -->

                <ng-container matColumnDef="gia_tri_thang">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Thực hiện tháng {{month}} (Triệu USD)</th>
                    <td mat-cell *matCellDef="let element" class="gia-tri"
                        [ngClass]="{'hidecolor': element.ten_san_pham == 'Mặt hàng nhập khẩu chủ yếu'}">
                        {{ element.tri_gia_thang | formatNumber }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="uoc_th_so_cungky_tht">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">ƯTH
                        so với tháng {{month}} cùng kỳ</th>
                    <td mat-cell *matCellDef="let element" class="gia-tri"
                        [ngClass]="{'hidecolor': element.ten_san_pham == 'Mặt hàng nhập khẩu chủ yếu'}">
                        {{ element.uoc_thang_so_voi_ki_truoc | formatNumber }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="uoc_th_so_thg_truoc_tht">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">ƯTH
                        so với tháng trước</th>
                    <td mat-cell *matCellDef="let element" class="gia-tri"
                        [ngClass]="{'hidecolor': element.ten_san_pham == 'Mặt hàng nhập khẩu chủ yếu'}">
                        {{ element.uoc_thang_so_voi_thang_truoc | formatNumber }}
                    </td>
                </ng-container>

                <!-- <ng-container matColumnDef="luong_cong_don">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Sản lượng (Nghìn tấn)</th>
                    <td mat-cell *matCellDef="let element" class="luong">
                        {{ element.san_luong_cong_don | formatNumber }}
                    </td>
                </ng-container> -->

                <ng-container matColumnDef="gia_tri_cong_don">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Thực hiện {{month}} tháng (Triệu USD)</th>
                    <td mat-cell *matCellDef="let element" class="gia-tri"
                        [ngClass]="{'hidecolor': element.ten_san_pham == 'Mặt hàng nhập khẩu chủ yếu'}">
                        {{ element.tri_gia_cong_don | formatNumber }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="uoc_th_so_cungky_cong_don">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">ƯTH
                        so với {{month}} tháng cùng kỳ</th>
                    <td mat-cell *matCellDef="let element" class="gia-tri"
                        [ngClass]="{'hidecolor': element.ten_san_pham == 'Mặt hàng nhập khẩu chủ yếu'}">
                        {{ element.uoc_cong_don_so_voi_ki_truoc | formatNumber }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="uoc_th_so_thg_truoc_cong_don">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">ƯTH
                        so với kế hoạch năm</th>
                    <td mat-cell *matCellDef="let element" class="gia-tri"
                        [ngClass]="{'hidecolor': element.ten_san_pham == 'Mặt hàng nhập khẩu chủ yếu'}">
                        {{ element.uoc_cong_don_so_voi_cong_don_truoc | formatNumber }}
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
                    </td>
                </ng-container>

                <ng-container matColumnDef="danh_sach_doanh_nghiep">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="3" class="fillColor">
                        Doanh nghiệp nhập khẩu
                    </th>
                    <td mat-cell *matCellDef="let element" class="jump text-center">
                        <mat-icon (click)="openDanh_sach_doanh_nghiep(element.id_san_pham)"> directions_boat
                        </mat-icon>
                    </td>
                </ng-container>

                <ng-container matColumnDef="chi_tiet_doanh_nghiep">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="3" class="fillColor">
                        Chi tiết nhập khẩu
                    </th>
                    <td mat-cell *matCellDef="let element" class="jump text-center">
                        <mat-icon (click)="openDialog(element.id_san_pham)"> local_airport</mat-icon>
                    </td>
                </ng-container>

                <!-- <tr mat-header-row class="table-header" *matHeaderRowDef="displayRow1Header; sticky: true">
                </tr>
                <tr mat-header-row class="table-header" *matHeaderRowDef="displaRow2Header; sticky: true">
                </tr> -->
                <!-- <tr mat-header-row class="table-header" *matHeaderRowDef="displayRow3Header; sticky: true">
                </tr> -->
                <tr mat-header-row class="table-header" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row class="table-row" *matRowDef="let row; columns: displayedColumns; let i = index">
                </tr>
            </table>
        </div>
        <mat-paginator [pageSizeOptions]="[100, 1000, 10000]" showFirstLastButtons></mat-paginator>

        <hr color="red">

        <div class="row">
            <div class="col-6 col-lg-3">
                <mat-form-field appearance="outline">
                    <mat-label>Từ tháng</mat-label>
                    <input matInput [matDatepicker]="dp1" [formControl]="date1" readonly>
                    <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                    <mat-datepicker #dp1 startView="multi-year" (yearSelected)="chosenYearHandler1($event)"
                        (monthSelected)="chosenMonthHandler1($event, dp1)" panelClass="example-month-picker">
                    </mat-datepicker>
                </mat-form-field>
            </div>

            <div class="col-6 col-lg-3">
                <mat-form-field appearance="outline">
                    <mat-label>Đến tháng</mat-label>
                    <input matInput [matDatepicker]="dp2" [formControl]="date2" readonly>
                    <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                    <mat-datepicker #dp2 startView="multi-year" (yearSelected)="chosenYearHandler2($event)"
                        (monthSelected)="chosenMonthHandler2($event, dp2)" panelClass="example-month-picker">
                    </mat-datepicker>
                </mat-form-field>
            </div>

            <div class="col-6 col-lg-3">
                <mat-form-field appearance="outline">
                    <mat-label>Nguồn dữ liệu: </mat-label>
                    <mat-select (selectionChange)="applyDataTarget1($event)" [(ngModel)]="dataTargetId1">
                        <mat-option *ngFor="let item of dataTargets" [value]="item.id">
                            {{ item.unit }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-6 col-lg-3 my-auto">
                <mat-form-field appearance="outline">
                    <mat-select [(ngModel)]="defaultcode" (selectionChange)="applyfilter($event)">
                        <mat-option>
                            <ngx-mat-select-search placeholderLabel="Nhập giá trị tìm kiếm"
                                noEntriesFoundLabel="Giá trị không có trong danh sách" [formControl]="profilter">
                            </ngx-mat-select-search>
                        </mat-option>

                        <mat-option *ngFor="let item of filterproducts | async" [value]="item.id_san_pham">
                            {{item.ten_san_pham}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="container-fluid">
            <h5 *ngIf="!importchart.length" class="text-center mt-3 mb-3">KHÔNG CÓ DỮ LIỆU TRONG KHOẢNG THỜI GIAN HIỆN
                TẠI</h5>
            <canvas #lineCanvas style="height:15vh; width:20vw"></canvas>
        </div>
    </mat-card-content>
</mat-card>