<div class="{{styleOfScss}}">
    <mat-toolbar class="mat-elevation-z5 main-contain">
        <mat-toolbar-row>
            <div class="toggle-sidebar" (click)="toggleSidebar($event)" matTooltip="Ẩn/ Hiện Menu">
                <a mat-icon-button class="btn-sct-page">
                    <mat-icon>{{menuIcon}}</mat-icon>
                </a>
            </div>

            <div class="navbar-brand">
                <a class="navbar-item" (click)="openHome()" [routerLink]="['/']" routerLinkActive="router-link-active">
                    <img class="logo" src="assets/img/brand/logo.svg">
                </a>
            </div>

            <div class="unit-block">
                <h1 class="unit-name d-none d-md-block"><strong>SỞ CÔNG THƯƠNG BÌNH PHƯỚC</strong></h1>
                <h1 class="unit-name d-none d-sm-block d-md-none d-lg-none text-center"><strong>SỞ CÔNG THƯƠNG</strong></h1>
            </div>
            <div class="spacer"></div>
            <div *ngIf="!checkLogin() else divUser" class="btn-color d-none d-lg-block">
                <button mat-raised-button class="blue" [matMenuTriggerFor]="menu" aria-label="Login/Logout menu">
                    <mat-icon>account_circle</mat-icon> Đăng nhập/Đăng ký
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="loginClick()">
                        <mat-icon>contacts</mat-icon>
                        <span>Đăng nhập</span>
                    </button>
                    <a mat-menu-item [routerLink]="['/register']">
                        <mat-icon>perm_contact_calendar</mat-icon>
                        <span>Doanh nghiệp đăng ký</span>
                    </a>
                </mat-menu>
            </div>
            <ng-template #divUser>
                <div class="btn-color">

                    <div hidden>
                        userrole={{userrole}} mst={{mst}} id={{id}}
                    </div>

                    <a class="check-expired-btn" href="/#/specialized/commecial-management/domestic/certificate/true" title="Doanh nghiệp hết hạn" target="_blank">
                        <mat-icon matBadge={{expirenumber}} matBadgeColor="warn">info</mat-icon>
                    </a>

                    <a (click)="openAccountDropdown()" class="user-menu">
                        <img class="avatar m-2" src="{{img_avatar}}" alt="{{username}}">
                    </a>

                    <div class="dropdown-content" [style.display]="this.open ? 'block' : 'none' ">
                        <div class="d-block username-display mt-2 pb-1 pl-3 pr-3">
                            <span>Xin chào, </span>
                            <span id='username'>{{ username }}</span>
                        </div>

                        <ng-container *ngIf="userrole == 1">
                            <div class="dropdown-item">
                                <mat-icon>account_box</mat-icon>
                                <span (click)="ManageUser(id)" class="display-item">Quản lý tài khoản</span>
                            </div>
                            <div class="dropdown-item">
                                <mat-icon>account_box</mat-icon>
                                <span (click)="openForm()" class="display-item">Thông tin tài khoản</span>
                            </div>
                            <div class="dropdown-item">
                                <mat-icon>public</mat-icon>
                                <span (click)="openPublicModule()" class="display-item">Thông tin thị trường</span>
                            </div>
                            <div class="dropdown-item">
                                <mat-icon>storefront</mat-icon>
                                <span (click)="openManagerModule()" class="display-item">Quản lý thị trường</span>
                            </div>
                            <div class="dropdown-item">
                                <mat-icon>list</mat-icon>
                                <span (click)="openSpecializedModule()" class="display-item">Dữ liệu chuyên ngành</span>
                            </div>
                            <div class="dropdown-item">
                                <mat-icon>wysiwyg</mat-icon>
                                <span (click)="openReportModule()" class="display-item">Báo cáo SCT</span>
                            </div>
                            <div class="dropdown-item">
                                <mat-icon>note_alt</mat-icon>
                                <span (click)="openLogger()" class="display-item">Lịch sử hệ thống</span>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="userrole == 7">
                            <div class="dropdown-item">
                                <mat-icon>account_box</mat-icon>
                                <span (click)="openForm()" class="display-item">Thông tin tài khoản</span>
                            </div>
                            <div class="dropdown-item">
                                <mat-icon>public</mat-icon>
                                <span (click)="openPublicModule()" class="display-item">Thông tin thị trường</span>
                            </div>
                            <div class="dropdown-item">
                                <mat-icon>storefront</mat-icon>
                                <span (click)="openManagerModule()" class="display-item">Quản lý thị trường</span>
                            </div>
                            <!-- <div class="dropdown-item">
                                <mat-icon>list</mat-icon>
                                <span (click)="openSpecializedModule()" class="display-item">Dữ liệu chuyên ngành</span>
                            </div> -->
                            <div class="dropdown-item">
                                <mat-icon>note_alt</mat-icon>
                                <span (click)="openLogger()" class="display-item">Lịch sử hệ thống</span>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="userrole == 6">
                            <div class="dropdown-item">
                                <mat-icon>account_box</mat-icon>
                                <span (click)="openForm()" class="display-item">Thông tin tài khoản</span>
                            </div>
                            <div class="dropdown-item">
                                <mat-icon>public</mat-icon>
                                <span (click)="openPublicModule()" class="display-item">Thông tin thị trường</span>
                            </div>
                            <div class="dropdown-item">
                                <mat-icon>list</mat-icon>
                                <span (click)="openSpecializedModule()" class="display-item">Dữ liệu chuyên ngành</span>
                            </div>
                            <div class="dropdown-item">
                                <mat-icon>wysiwyg</mat-icon>
                                <span (click)="openReportModule()" class="display-item">Báo cáo SCT</span>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="userrole == 2">
                            <div class="dropdown-item">
                                <mat-icon>account_box</mat-icon>
                                <span (click)="OpenDetailCompany(mst)" class="display-item">Thông tin tài khoản</span>
                            </div>
                            <div class="dropdown-item">
                                <mat-icon>public</mat-icon>
                                <span (click)="openPublicModule()" class="display-item">Thông tin thị trường</span>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="userrole == 3 || userrole == 4 || userrole == 5">
                            <div class="dropdown-item">
                                <mat-icon>account_box</mat-icon>
                                <span (click)="openForm()" class="display-item">Thông tin tài khoản</span>
                            </div>
                            <!-- <div class="dropdown-item">
                                <mat-icon>public</mat-icon>
                                <span (click)="openPublicModule()" class="display-item">Thông tin thị trường</span>
                            </div>
                            <div class="dropdown-item">
                                <mat-icon>storefront</mat-icon>
                                <span (click)="openManagerModule()" class="display-item">Quản lý thị trường</span>
                            </div> -->
                            <div class="dropdown-item">
                                <mat-icon>list</mat-icon>
                                <span (click)="openSpecializedModule()" class="display-item">Dữ liệu chuyên ngành</span>
                            </div>
                            <div class="dropdown-item">
                                <mat-icon>wysiwyg</mat-icon>
                                <span (click)="openReportModule()" class="display-item">Báo cáo SCT</span>
                            </div>
                            <div class="dropdown-item">
                                <mat-icon>note_alt</mat-icon>
                                <span (click)="openLogger()" class="display-item">Lịch sử hệ thống</span>
                            </div>
                        </ng-container>

                        <div class="dropdown-item">
                            <mat-icon>login</mat-icon>
                            <span (click)="logout()" class="display-item">Đăng xuất</span>
                        </div>
                    </div>
                </div>
            </ng-template>
        </mat-toolbar-row>
    </mat-toolbar>

    <div class="floating-home">
        <a href="http://socongthuongbp.gov.vn/" target="blank" matTooltip="Trang chủ SCT">
            <i class="fa fa-home fa-2x float-icon"></i>
        </a>
    </div>

</div>