<div class="{{styleOfScss}}">
    <mat-toolbar class="mat-elevation-z5 main-contain">
        <mat-toolbar-row>
            <div class="toggle-sidebar">
                <a mat-icon-button class="btn-sct-page" (click)="sidebar.toggle();">
                    <mat-icon>menu</mat-icon>
                </a>
            </div>

            <div class="navbar-brand">
                <a class="navbar-item" (click)="openHome()" [routerLink]="['/']" routerLinkActive="router-link-active">
                    <img class="logo" src="assets/img/brand/logo.svg">
                </a>
            </div>
            <h1><strong>SỞ CÔNG THƯƠNG</strong></h1>
            <div class="spacer"></div>
            <div *ngIf="!checkLogin() else divUser" class="btn-color">
                <a mat-raised-button class="btn-sct-page" href="http://socongthuongbp.gov.vn/" target="blank">
                    <mat-icon>domain</mat-icon> Trang chủ SCT
                </a>
                <a mat-raised-button class="btn-company" [routerLink]="['/register']">Doanh nghiệp đăng ký</a>

                <a mat-raised-button class="btn-login" (click)="loginClick()">Đăng
                    nhập</a>
            </div>
            <ng-template #divUser>
                <div class="btn-color">

                    <a mat-raised-button class="btn-sct-page" href="http://socongthuongbp.gov.vn/" target="blank">
                        <mat-icon>domain</mat-icon> Trang chủ SCT
                    </a>
                    <a (click)="openAccountDropdown()" class="user-menu">
                        <img class="avatar m-2" src="{{img_avatar}}" alt="{{username}}">
                    </a>

                    <div class="dropdown-content" [style.display]="this.open ? 'block' : 'none' ">
                        <div class="d-block username-display mt-2 pb-1 pl-3 pr-3">
                            <span>Xin chào, </span>
                            <span id='username'>{{ username }}</span>
                        </div>

                        <div class="dropdown-item">
                            <mat-icon>account_box</mat-icon>
                            <span (click)="openForm()" class="display-item" >Thông tin tài khoản</span>
                        </div>
                        <div class="dropdown-item">
                            <mat-icon>storefront</mat-icon>
                            <span (click)="openManagerModule()" class="display-item">Quản lý thị trường</span>
                        </div>
                        <div class="dropdown-item">
                            <mat-icon>list</mat-icon>
                            <span (click)="openSpecializedModule()" class="display-item">Dữ liệu chuyên ngành</span>
                        </div>
                        <div class="dropdown-item">
                            <mat-icon>wysiwyg</mat-icon>
                            <span (click)="openReportModule()" class="display-item">Quản lý báo cáo</span>
                        </div>
                        <div class="dropdown-item">
                            <mat-icon>login</mat-icon>
                            <span (click)="logout()" class="display-item">Đăng xuất</span>
                        </div>
                    </div>
                </div>
            </ng-template>
        </mat-toolbar-row>
    </mat-toolbar>
</div>