<mat-card class="material">
    <mat-card-header>
        <mat-card-title>
            <strong>CHI TIẾT DOANH NGHIỆP: {{company.ten_doanh_nghiep}} - SĐT: {{company.dien_thoai}}</strong>
        </mat-card-title>
        <mat-card-subtitle>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <div class="col-lg-4">
                <div>
                    <img [src]="defaultLogo" [alt]="company.ten_doanh_nghiep" class="img-fluid rounded">
                </div>
                <hr>
                <div class="button-control -align-left">
                    <!-- <button mat-raised-button (click)="back()">Trở về danh sách DN</button> -->
                    <button mat-raised-button (click)="openDialog(company.mst)">Danh sách CSTT</button>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row info">
                    <table class="table" cellspacing="0">
                        <tbody>
                            <tr>
                                <th scope="row">Tên doanh nghiệp</th>
                                <td>
                                    {{company.ten_doanh_nghiep}}
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">Mã số thuế</th>
                                <td>
                                    <input [(ngModel)]="company.mst" disabled>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">Địa chỉ</th>
                                <td>
                                    <!-- <input [(ngModel)]="company.dia_chi_day_du" disabled> -->
                                    <textarea [(ngModel)]="company.dia_chi_day_du" disabled></textarea>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">Người đại diện theo pháp luật</th>
                                <td>
                                    <input [(ngModel)]="company.nguoi_dai_dien" disabled>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">Số điện thoại</th>
                                <td>
                                    <input type="tel" [(ngModel)]="company.dien_thoai" disabled>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">Mã ngành nghề kinh doanh chính</th>
                                <td>
                                    <mat-select [(ngModel)]="company.id_nganh_nghe" disabled class="font">
                                        <mat-option *ngFor="let item of career" [value]="item.ma_nganh_nghe">
                                            {{ item.ten_kem_ma }}
                                        </mat-option>
                                    </mat-select>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">Ngành nghề kinh doanh chính</th>
                                <td>
                                    {{company.nganh_nghe_kd}}
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">Loại hình kinh tế</th>
                                <td>
                                    <mat-select [(ngModel)]="company.id_loai_hinh" disabled>
                                        <mat-option></mat-option>
                                        <mat-option *ngFor="let item of Business" [value]="item.id">
                                            {{item.ten_loai_hinh}}
                                        </mat-option>
                                    </mat-select>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">Vốn điều lệ</th>
                                <td>
                                    <input currencyMask [(ngModel)]="company.von_kinh_doanh" disabled>
                                </td>
                            </tr>

                            <tr color="accent">
                                <th scope="row">Ngày bắt đầu kinh doanh</th>
                                <td>
                                    <input matInput [matDatepicker]="date2" [(ngModel)]="company.ngay_bat_dau_kd"
                                        disabled>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">Số lao động</th>
                                <td>
                                    <input currencyMask [(ngModel)]="company.so_lao_dong" disabled>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">Công xuất thiết kế/năm</th>
                                <td>
                                    <input currencyMask [(ngModel)]="company.cong_suat_thiet_ke" disabled>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">Sản lượng/năm</th>
                                <td>
                                    <input currencyMask [(ngModel)]="company.san_luong" disabled>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">Số GP/GCNĐĐKKD</th>
                                <td>
                                    <input [(ngModel)]="company.so_gpgcn" disabled>
                                </td>
                            </tr>

                            <tr color="accent">
                                <th scope="row">Ngày cấp</th>
                                <td>
                                    <input matInput [matDatepicker]="date1" [(ngModel)]="company.ngay_cap" disabled>
                                </td>
                            </tr>

                            <tr color="accent">
                                <th scope="row">Thời hạn</th>
                                <td>
                                    <input matInput [matDatepicker]="date_thoi_han" [(ngModel)]="company.ngay_het_han"
                                        disabled>
                                </td>
                            </tr>

                            <div class="expand-more">
                                <span>
                                    Mở rộng/Thu hẹp
                                </span>
                                <mat-icon *ngIf="!isOpen" aria-hidden="false" aria-label="Example home icon"
                                    (click)="toggle()">expand_less</mat-icon>
                                <mat-icon *ngIf="isOpen" aria-hidden="false" aria-label="Example home icon"
                                    (click)="toggle()">expand_more</mat-icon>
                            </div>
                            <ng-container [@toggleBox]="isOpen ? 'open' : 'closed'" *ngIf="isOpen" class="custom-style">
                                <tr>
                                    <th scope="row">Tiêu chuẩn kinh doanh</th>
                                    <td>
                                        <input [(ngModel)]="company.tieu_chuan_san_pham" disabled>
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row">Email</th>
                                    <td>
                                        <input [(ngModel)]="company.email" disabled>
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row">Doanh thu
                                    </th>
                                    <td>

                                        <input currencyMask [(ngModel)]="company.doanh_thu" disabled>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Quy mô tài sản
                                    </th>
                                    <td>

                                        <input currencyMask [(ngModel)]="company.quy_mo_tai_san" disabled>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Lợi nhuận
                                    </th>
                                    <td>
                                        <input currencyMask [(ngModel)]="company.loi_nhuan" disabled>
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row">Nhu cầu bán</th>
                                    <td>
                                        <input [(ngModel)]="company.nhu_cau_ban" disabled>
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row">Nhu cầu mua</th>
                                    <td>
                                        <input [(ngModel)]="company.nhu_cau_mua" disabled>
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row">Nhu cầu hợp tác</th>
                                    <td>
                                        <input [(ngModel)]="company.nhu_cau_hop_tac" disabled>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>