<mat-card class="material">
    <mat-card-content>
        <!-- <div class="button-control">
            <button mat-raised-button (click)="accordion.openAll()">
                <mat-icon>flip_to_front</mat-icon> Mở Tất Cả
            </button>
            <button mat-raised-button (click)="accordion.closeAll()">
                <mat-icon>flip_to_back</mat-icon> Đóng tất cả
            </button>
        </div> -->
        <mat-accordion class="accord" multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>folder_open</mat-icon>
                        &nbsp;
                        <strong>DANH SÁCH CỬA HÀNG</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row">
                    <div class="col-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Địa bàn</mat-label>
                            <mat-select #dSelect (selectionChange)="applyDistrictFilter($event)" multiple>
                                <!-- <mat-option [value]="0" (click)="toggleAllSelection()">Tất cả</mat-option> -->
                                <mat-option *ngFor='let item of district' [value]='item.ten_quan_huyen'>
                                    {{item.ten_quan_huyen}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-1 checkbox">
                        <mat-checkbox (change)="applyExpireCheck($event)" [ngModel]="isChecked">DN hết hạn
                        </mat-checkbox>
                    </div>

                    <div class="col-8 button-control -align-right my-auto">
                        <button mat-raised-button (click)="AddStore()">Thêm cửa hàng</button>

                        <button mat-raised-button class="red" (click)="removeRows()">Xóa cửa hàng</button>

                        <button mat-raised-button class="green"
                            (click)="ExportTOExcel('Cửa hàng kinh doanh xăng dầu','Cửa hàng kinh doanh xăng dầu')">Xuất
                            Excel</button>

                        <button mat-raised-button (click)="Back()">
                            <mat-icon>keyboard_backspace</mat-icon>
                        </button>
                    </div>
                </div>

                <div class="layout" #table>
                    <mat-form-field id="filter1">
                        <mat-label>Lọc dữ liệu</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
                    </mat-form-field>

                    <table mat-table [dataSource]="dataSource1" class="table-layout" id="small-table1">
                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef>
                                <mat-checkbox (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                                    [aria-label]="checkboxLabel()">
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row" class="center-cell">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(row) : null"
                                    [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="index">
                            <th mat-header-cell *matHeaderCellDef> STT </th>
                            <td mat-cell *matCellDef="let element; let i = index;" class="center-cell">
                                {{i + 1 + (paginator.pageIndex * paginator.pageSize)}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="id_cua_hang_xang_dau">
                            <th hidden mat-header-cell *matHeaderCellDef> ID </th>
                            <td hidden mat-cell *matCellDef="let element"> {{element.id_cua_hang_xang_dau}} </td>
                        </ng-container>

                        <ng-container matColumnDef="san_luong">
                            <th hidden mat-header-cell *matHeaderCellDef> Sản lượng </th>
                            <td hidden mat-cell *matCellDef="let element"> {{element.san_luong}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ten_cua_hang">
                            <th mat-header-cell *matHeaderCellDef> Tên cửa hàng </th>
                            <td mat-cell *matCellDef="let element"
                                (click)="AddStore(element.id_cua_hang_xang_dau, element.mst)" class="jump"
                                [ngClass]="{'warning': element.san_luong == null}">
                                {{element.ten_cua_hang}}
                                <ng-container *ngIf="element.san_luong == null; else elseTemplate">
                                    <br> (Chưa cập nhật sản lượng)
                                </ng-container>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="mst">
                            <th mat-header-cell *matHeaderCellDef> Mã số thuế </th>
                            <td mat-cell *matCellDef="let element"> {{element.mst}} </td>
                        </ng-container>

                        <ng-container matColumnDef="so_giay_phep">
                            <th mat-header-cell *matHeaderCellDef> Số giấy phép </th>
                            <td mat-cell *matCellDef="let element"> {{element.so_giay_phep}}</td>
                        </ng-container>

                        <ng-container matColumnDef="ngay_cap">
                            <th mat-header-cell *matHeaderCellDef> Ngày cấp </th>
                            <td mat-cell *matCellDef="let element"> {{element.ngay_cap}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="ngay_het_han">
                            <th mat-header-cell *matHeaderCellDef> Ngày hết hạn </th>
                            <td mat-cell *matCellDef="let element"> {{element.ngay_het_han}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="dia_chi">
                            <th mat-header-cell *matHeaderCellDef> Địa chỉ </th>
                            <td mat-cell *matCellDef="let element"> {{element.dia_chi}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ten_quan_huyen">
                            <th mat-header-cell *matHeaderCellDef> Địa bàn </th>
                            <td mat-cell *matCellDef="let element"> {{element.ten_quan_huyen}} </td>
                        </ng-container>

                        <ng-container matColumnDef="so_dien_thoai">
                            <th mat-header-cell *matHeaderCellDef> Số điện thoại </th>
                            <td mat-cell *matCellDef="let element"> {{element.so_dien_thoai}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ten_quan_ly">
                            <th mat-header-cell *matHeaderCellDef> Tên quản lý </th>
                            <td mat-cell *matCellDef="let element"> {{element.ten_quan_ly}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ten_nhan_vien">
                            <th mat-header-cell *matHeaderCellDef> Tên nhân viên </th>
                            <td mat-cell *matCellDef="let element"> {{element.ten_nhan_vien}} </td>
                        </ng-container>

                        <ng-container matColumnDef="nguoi_dai_dien">
                            <th mat-header-cell *matHeaderCellDef> Người đại diện </th>
                            <td mat-cell *matCellDef="let element"> {{element.nguoi_dai_dien}}</td>
                        </ng-container>

                        <ng-container matColumnDef="tinh_trang_hoat_dong">
                            <th mat-header-cell *matHeaderCellDef> Trạng thái </th>
                            <td mat-cell *matCellDef="let element"> {{element.tinh_trang_hoat_dong}}
                            </td>
                        </ng-container>

                        <tr mat-header-row class="table-header" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row class="table-row" *matRowDef="let row; columns: displayedColumns;let i = index; ">
                    </table>
                </div>
                <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
            </mat-expansion-panel>
        </mat-accordion>

    </mat-card-content>
</mat-card>