<mat-card class="material">
  <mat-card-header>
    <mat-card-title><strong></strong></mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-lg-6">
        <mat-form-field appearance="outline">
          <mat-label>Từ tháng</mat-label>
          <input matInput [matDatepicker]="dp" [formControl]="date" readonly>
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event)"
            (monthSelected)="chosenMonthHandler($event, dp)" panelClass="example-month-picker">
          </mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="ml-1">
          <mat-label>Đến tháng</mat-label>
          <input matInput [matDatepicker]="dp1" [formControl]="date1" readonly>
          <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
          <mat-datepicker #dp1 startView="multi-year" (yearSelected)="chosenYearHandler1($event)"
            (monthSelected)="chosenMonthHandler1($event, dp1)" panelClass="example-month-picker">
          </mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-lg-6 text-right my-auto">
        <mat-form-field appearance="outline">
          <mat-select [(ngModel)]="defaultcode" (selectionChange)="applyfilter($event)">
            <mat-select-filter [placeholder]="'Lọc dữ liệu'" [displayMember]="'ten_san_pham'" [array]="products"
              (filteredReturn)="filterproducts =$event"></mat-select-filter>
            <mat-option *ngFor="let item of filterproducts" [value]="item.id_san_pham">
              {{item.ten_san_pham}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <hr>
    <div class="container-fluid">
      <canvas #lineCanvas style="height:10vh; width:20vw"></canvas>
      <hr color="red">
    </div>
  </mat-card-content>
</mat-card>