<mat-card class="material">
    <mat-card-header>
        <mat-card-title>
            <strong>
                ĐIỆN SẢN XUẤT VÀ ĐIỆN THƯƠNG PHẨM
            </strong>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <div class="col-2 my-auto">
                <mat-form-field appearance="outline">
                    <mat-label>Năm báo cáo</mat-label>
                    <mat-select [(ngModel)]="selectedYear">
                        <mat-option *ngFor="let item of years" [value]="item">
                            {{item}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-2 my-auto">
                <div class="button-control -align-left">
                    <button mat-raised-button (click)="click()">Tìm kiếm</button>
                </div>
            </div>
        </div>

        <div class="layout">
            <table mat-table matTableFilter [exampleEntity]="filterObject" [filterType]="filterType"
                [dataSource]="dataSource" class="table-layout" id="small-table">

                <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef> STT </th>
                    <td mat-cell *matCellDef="let element; let i = index;" class="center-cell"> {{i+1}} </td>
                </ng-container>

                <ng-container matColumnDef="obj_name">
                    <th mat-header-cell *matHeaderCellDef> Tên báo cáo </th>
                    <td mat-cell *matCellDef="let element" class="text-primary">{{element.obj_name}}</td>
                </ng-container>

                <ng-container matColumnDef="time_id">
                    <th mat-header-cell *matHeaderCellDef> Kỳ báo cáo</th>
                    <td mat-cell *matCellDef="let element;"> {{element.time_id_text}} </td>
                </ng-container>

                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef> Xem chi tiết </th>
                    <td mat-cell *matCellDef="let element" (click)="OpenDetailObject(element)" id="jump">
                        <mat-icon>visibility</mat-icon>
                    </td>
                </ng-container>

                <tr mat-header-row class="table-header" *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row class="table-row" *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <mat-paginator #reportPaginators [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
    <mat-card-actions></mat-card-actions>
</mat-card>