<mat-card class="material" *ngIf="view == 'list'">
    <mat-card-content>
        <!-- <div class="button-control">
            <button mat-raised-button (click)="accordion.openAll()">
                <mat-icon>flip_to_front</mat-icon> Mở Tất Cả
            </button>
            <button mat-raised-button (click)="accordion.closeAll()">
                <mat-icon>flip_to_back</mat-icon> Đóng tất cả
            </button>
        </div> -->
        <mat-accordion class="accord" multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon> show_chart</mat-icon>
                        &nbsp;
                        <strong>DỮ LIỆU TỔNG HỢP</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row">
                    <div class="col-4 col-lg-4">
                        <mat-card class="card1">
                            <mat-card-header>
                                <mat-card-title>
                                    <mat-icon> business</mat-icon> Số lượng doanh nghiệp trên địa bàn:
                                </mat-card-title>
                                <mat-card-subtitle>
                                </mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                {{filteredDataSource.data.length}} doanh nghiệp
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-4 col-lg-4">
                        <mat-card class="card1">
                            <mat-card-header>
                                <mat-card-title>
                                    <mat-icon>equalizer</mat-icon> Sản lượng sản xuất bột mỳ:
                                </mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                {{sanLuongBotMy | formatNumber}} tấn/năm
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-4 col-lg-4">
                        <mat-card class="card1">
                            <mat-card-header>
                                <mat-card-title>
                                    <mat-icon>equalizer</mat-icon> Sản lượng sản xuất rượu:
                                </mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                {{sanLuongRuou | formatNumber}} lít/năm
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>folder_open</mat-icon>
                        &nbsp;
                        <strong>DỮ LIỆU CHI TIẾT</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row">
                    <div class="col-3 col-lg-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Kỳ dữ liệu</mat-label>
                            <mat-select (selectionChange)="GetFoodIndustryData($event.value)" [(value)]="currentYear">
                                <mat-option *ngFor='let year of yearSelection' [value]='year'>{{year}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-3 col-lg-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Địa bàn</mat-label>
                            <mat-select #dSelect (selectionChange)="applyFilter($event)" [(ngModel)]="filterModel.id_quan_huyen" multiple>
                                <mat-option *ngFor='let district of districts' [value]='district.id'>
                                    {{district.ten_quan_huyen}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-3 col-lg-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Thời gian đăng ký GCN</mat-label>
                            <mat-select (selectionChange)="applyFilter($event)" [(ngModel)]="filterModel.ngay_cap" multiple>
                                <mat-option value='0'>-- Tất cả --</mat-option>
                                <mat-option *ngFor='let year of yearSelection' [value]='year'>{{year}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-6 col-lg-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Lọc dữ liệu</mat-label>
                            <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
                        </mat-form-field>
                    </div>

                    <div class="col-2 col-lg-2 my-auto">
                        <mat-checkbox (change)="applyExpireCheck($event)" [ngModel]="isChecked">Doanh nghiệp hết hạn
                        </mat-checkbox>

                        <!-- <mat-checkbox (change)="showMoreDetail($event)">Chi tiết
                        </mat-checkbox> -->
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12 col-lg-12 button-control">
                        <button mat-raised-button matTooltip="Xuất Excel"
                            (click)="ExportTOExcel('QLCN - CNTP',currentYear.toString())">
                            <mat-icon>file_download</mat-icon>
                        </button>
                        <button mat-raised-button matTooltip="Thêm mới" class="green" (click)="switchView()"
                            [hidden]=authorize>
                            <mat-icon>add_circle_outline</mat-icon>
                        </button>
                        <button *ngIf="selection.selected.length != 0" class="red" matTooltip="Xóa" mat-raised-button
                            (click)="openRemoveDialog()" [hidden]=authorize>
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
                <hr>
                <div class="layout" *ngIf="filteredDataSource.data.length; else ShowEmpty" #TABLE>
                    <table mat-table [dataSource]="filteredDataSource" class="table-layout"
                        id="{{displayedColumns.length == 7 ? 'small-table1': 'small-table2'}}">

                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef disableClear>
                                <mat-checkbox (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                                    [aria-label]="checkboxLabel()">
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let element" class="center-cell">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(element) : null"
                                    [checked]="selection.isSelected(element)" [aria-label]="checkboxLabel(element)">
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="index">
                            <th mat-header-cell *matHeaderCellDef> STT </th>
                            <td mat-cell *matCellDef="let element; let i = index;" class="center-cell">
                                {{this.filteredDataSource.paginator.pageIndex == 0 ? i
                                + 1 : 1 + i + this.filteredDataSource.paginator.pageIndex *
                                this.filteredDataSource.paginator.pageSize}}
                            </td>
                        </ng-container>

                        <div *ngFor="let field of displayedFields | keyvalue">
                            <ng-container matColumnDef="{{field.key}}"
                                [sticky]="field.key == 'ten_doanh_nghiep' ? true : null">
                                <th mat-header-cell *matHeaderCellDef> {{field.value}} </th>
                                <ng-container *ngIf="field.key != 'tinh_trang_hoat_dong';else activeFieldCond">
                                    <ng-container
                                        *ngIf="!['san_luong', 'cong_suat', 'von_dieu_le'].includes(field.key);else qtyFieldCond">
                                        <ng-container
                                            *ngIf="!['ngay_het_han', 'ngay_cap'].includes(field.key) ;else dateFieldCond">
                                            <td mat-cell *matCellDef="let element"> {{element[field.key]}}</td>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>

                                <ng-template #activeFieldCond>
                                    <td mat-cell *matCellDef="let element"> {{element[field.key] == 1? 'Hoạt động' :
                                        'Ngừng hoạt động'}}</td>
                                </ng-template>

                                <ng-template #qtyFieldCond>
                                    <td mat-cell *matCellDef="let element"> {{element[field.key] | formatNumber}}</td>
                                </ng-template>

                                <ng-template #dateFieldCond>
                                    <td mat-cell *matCellDef="let element"> {{element[field.key] | date:'dd/MM/yyyy'}}
                                    </td>
                                </ng-template>

                            </ng-container>
                        </div>

                        <tr mat-header-row class="table-header" *matHeaderRowDef="displayedColumns; sticky : true">
                        </tr>
                        <tr mat-row class="table-row" *matRowDef="let row; columns: displayedColumns;let i = index; ">
                    </table>
                </div>
                <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
                <ng-template #ShowEmpty>
                    <h3 class="text-center">Không có dữ liệu</h3>
                </ng-template>
                <br>
            </mat-expansion-panel>
        </mat-accordion>

    </mat-card-content>
</mat-card>

<!-- Form view -->
<mat-card class="material" *ngIf="view == 'form'">
    <mat-card-content>
        <mat-accordion>
            <mat-card-header>
                <mat-card-title>
                    <strong class="mt-3">TẠO MỚI DỮ LIỆU</strong>
                    <button mat-raised-button color="primary" matTooltip="Trở về danh sách"
                        class="float-right set-bg-color-primary" (click)="switchView()">
                        <mat-icon>menu</mat-icon> &nbsp;Danh sách
                    </button>
                </mat-card-title>
            </mat-card-header>
            <hr>
            <form [formGroup]="formData" (ngSubmit)="onCreate()">
                <div class="form-group row">

                    <div class="col-md-12">
                        <mat-card-header>
                            <mat-card-title class="text-left">
                                Thông tin doanh nghiệp
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Mã số thuế doanh nghiệp</mat-label>
                                        <input matInput formControlName="mst">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Kỳ dữ liệu</mat-label>
                                        <mat-select formControlName="time_id">
                                            <mat-option *ngFor='let year of yearSelection' [value]='year'>{{year}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                
                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Trạng thái</mat-label>
                                        <mat-select formControlName="tinh_trang_hoat_dong">
                                            <mat-option value="true">Hoạt động</mat-option>
                                            <mat-option value="false">Ngừng hoạt động</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-card-content>
                    </div>

                    <div class="col-md-12">
                        <mat-card-header>
                            <mat-card-title class="text-left">
                                <span class="pt-2"> Công suất và sản lượng </span>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Công suất</mat-label>
                                        <input currencyMask matInput type="number" formControlName="cong_suat">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Sản lượng</mat-label>
                                        <input currencyMask matInput type="number" formControlName="san_luong">
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-card-content>
                    </div>

                    <div class="col-md-12">
                        <button type="submit" class="btn btn-success float-right" [hidden]=authorize>Tạo mới</button>
                        <button class="btn btn-danger set-bg-color-danger float-left" (click)="clearTable($event)"
                            [hidden]=authorize>Xóa</button>
                    </div>
                </div>
            </form>
        </mat-accordion>
    </mat-card-content>
</mat-card>