<div class="row">
    <div class="col-4">
        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="Petrol()">
            <mat-icon> local_gas_station</mat-icon>
            XĂNG DẦU
        </button>
    </div>
    <div class="col-4">
        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="Tobacco()">
            <mat-icon>smoking_rooms</mat-icon>
            THUỐC LÁ
        </button>
    </div>
    <div class="col-4">
        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="Liquor()">
            <mat-icon> local_bar</mat-icon>
            RƯỢU
        </button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-4">
        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="LPG()">
            <mat-icon> local_bar</mat-icon>
            RƯỢU
        </button>
    </div>
    <div class="col-4">
        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="Businessman()">
            <mat-icon>business</mat-icon>
            QUẢN LÝ THƯƠNG NHÂN
        </button>
    </div>
</div>

<!-- <mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>

        </ng-template>
        <petrol-business></petrol-business>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>

        </ng-template>
        <tobacco-business></tobacco-business>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>

        </ng-template>
        <liquor-business></liquor-business>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>

        </ng-template>
        <lpg-business></lpg-business>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>

        </ng-template>
        <app-manage-businessman></app-manage-businessman>
    </mat-tab>
</mat-tab-group> -->

<!-- <nav mat-tab-nav-bar>
    <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.link" routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
        {{link.label}}
    </a>
</nav>
<router-outlet></router-outlet> -->