<mat-card class="material">
    <mat-card-header>
        <mat-card-title>
            <h4><strong>Danh sách doanh nghiệp</strong></h4>
        </mat-card-title>
        <mat-card-subtitle>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <hr>
        <div class="row" *ngIf="isSearch_Advanced">
            <div class="col-lg-7">
                <ng-container *ngFor="let item of filterConditions">
                    <div class="row my-auto filter-row" id={{item.id}} attr.data-field-name="{{item.field_name}}"
                        #new_element>
                        <div class="col-lg-5">
                            <mat-form-field appearance="outline">
                                <mat-select [(ngModel)]="item.field_name" class="selected-condition"
                                    (selectionChange)="changeFilter($event)">
                                    <mat-option *ngFor="let field of displayFields | keyvalue" [value]='field.key'>
                                        {{field.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-5">
                            <mat-form-field appearance="outline">
                                <mat-label>Nhập giá trị</mat-label>
                                <input type="text" [(ngModel)]="item.field_value" class="filter-value" mdInput matInput
                                    (keyup)="changeFilter($event)">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2 mt-2">
                            <button class="btn btn-danger" mat-raised-button (click)="removeFilter()">
                                <mat-icon >remove_circle</mat-icon>
                            </button>
                        </div>
                    </div>
                </ng-container>
            </div>

            <div class="col-lg-5 button-control float-right mt-2">
                <button mat-raised-button (click)="addMoreFilter()" class="reverse">
                    <mat-icon>add_circle_outline</mat-icon> &nbsp;Thêm bộ lọc
                </button>
                <button mat-raised-button (click)="clearFilter()">Xóa bộ lọc</button>
                <button mat-raised-button
                    (click)="ExportTOExcel('Danh sách doanh nghiệp','Danh sách doanh nghiệp')">Xuất
                    Excel</button>
            </div>

        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-success" mat-raised-button (click)="create()">
                    <mat-icon>add_cicle</mat-icon>Thêm
                </button>
                <button *ngIf="selection.selected.length != 0" class="btn btn-danger ml-2" mat-raised-button (click)="openRemoveDialog()">Xóa</button>
            </div>
        </div>
        <div class="layout mt-3" #TABLE>
            <table class="table-layout" mat-table matTableFilter
                [filterType]="filterType" [dataSource]="dataSource" id="small-table1" matSort
                matSortActive="select" matSortDisableClear matSortDirection="asc" >

                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef disableClear>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()"> 
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(element) : null" [checked]="selection.isSelected(element)"
                            [aria-label]="checkboxLabel(element)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef> STT </th>
                    <td mat-cell *matCellDef="let element; let i = index;" class="center-cell"> {{i+1}} </td>
                </ng-container>

                <ng-container matColumnDef="ten_doanh_nghiep">
                    <th mat-header-cell *matHeaderCellDef> Tên doanh nghiệp </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        <span (click)="OpenDetailCompany(element.mst)" class="jump">{{element.ten_doanh_nghiep}}</span>
                    </td>
                </ng-container>

                <!-- <ng-container matColumnDef="ten_nganh_nghe">
                    <th mat-header-cell *matHeaderCellDef> Tên ngành nghề </th>
                    <td mat-cell *matCellDef="let element"> {{element.ten_nganh_nghe}} </td>
                </ng-container> -->

                <ng-container matColumnDef="mst">
                    <th mat-header-cell *matHeaderCellDef> Mã số thuế </th>
                    <td mat-cell *matCellDef="let element"> {{element.mst}} </td>
                </ng-container>

                <ng-container matColumnDef="mst_cha">
                    <th mat-header-cell *matHeaderCellDef> Mã số thuế cha </th>
                    <td mat-cell *matCellDef="let element"> {{element.mst_cha}} </td>
                </ng-container>

                <ng-container matColumnDef="so_dien_thoai">
                    <th mat-header-cell *matHeaderCellDef> Số điện thoại </th>
                    <td mat-cell *matCellDef="let element"> {{element.so_dien_thoai}} </td>
                </ng-container>

                <ng-container matColumnDef="nguoi_dai_dien">
                    <th mat-header-cell *matHeaderCellDef> Người đại diện </th>
                    <td mat-cell *matCellDef="let element"> {{element.nguoi_dai_dien}} </td>
                </ng-container>

                <ng-container matColumnDef="ma_nganh_nghe">
                    <th mat-header-cell *matHeaderCellDef> Mã ngành nghề </th>
                    <td mat-cell *matCellDef="let element"> {{element.ma_nganh_nghe}} </td>
                </ng-container>

                <ng-container matColumnDef="ten_nganh_nghe">
                    <th mat-header-cell *matHeaderCellDef> Tên ngành nghề </th>
                    <td mat-cell *matCellDef="let element"> {{element.ten_nganh_nghe}} </td>
                </ng-container>

                <ng-container matColumnDef="nganh_nghe_kd_chinh">
                    <th mat-header-cell *matHeaderCellDef> Ngành nghề kinh doanh chính </th>
                    <td mat-cell *matCellDef="let element"> {{element.nganh_nghe_kd_chinh}} </td>
                </ng-container>

                <ng-container matColumnDef="ten_loai_hinh_hoat_dong">
                    <th mat-header-cell *matHeaderCellDef> Tên loại hình hoạt động </th>
                    <td mat-cell *matCellDef="let element"> {{element.ten_loai_hinh_hoat_dong}} </td>
                </ng-container>

                <ng-container matColumnDef="loai_hinh_doanh_nghiep">
                    <th mat-header-cell *matHeaderCellDef> Loại hình doanh nghiệp </th>
                    <td mat-cell *matCellDef="let element"> {{element.loai_hinh_doanh_nghiep}} </td>
                </ng-container>

                <ng-container matColumnDef="dia_chi_day_du">
                    <th mat-header-cell *matHeaderCellDef> Địa chỉ </th>
                    <td mat-cell *matCellDef="let element"> {{element.dia_chi_day_du}} </td>
                </ng-container>

                <ng-container matColumnDef="hoat_dong">
                    <th mat-header-cell *matHeaderCellDef> Trạng thái </th>
                    <td mat-cell *matCellDef="let element">
                        <span *ngIf="element.hoat_dong; else negActiveExp">Hoạt động</span>
                        <ng-template #negActiveExp>
                            <span>Ngừng hoạt động</span>
                        </ng-template>
                    </td>
                </ng-container>

                <ng-container matColumnDef="chi_tiet_doanh_nghiep">
                    <th mat-header-cell *matHeaderCellDef> Chi tiết </th>
                    <td mat-cell *matCellDef="let element" class="jump">
                        <mat-icon (click)="OpenDetailCompany(element.mst)">search</mat-icon>
                    </td>
                </ng-container>

                <tr mat-header-row class="table-header" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row class="table-row" *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <mat-paginator [pageSizeOptions]="[10, 50, 100, 5000, 10000]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>