<mat-card class="material">
    <mat-card-content>
        <mat-card-header>
        </mat-card-header>
        <mat-accordion class="accord" multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon> show_chart</mat-icon>
                        &nbsp;
                        <strong>DỮ LIỆU TỔNG HỢP</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row">
                    <div class="col-4 col-lg-4">
                        <mat-card class="card2">
                            <mat-card-header>
                                <mat-card-title>
                                    <mat-icon>filter</mat-icon> Tổng số doanh nghiệp QLTM:
                                </mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                {{slqltm | number: '1.0-0':'vi'}} doanh nghiệp
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-4 col-lg-4">
                        <mat-card class="card2">
                            <mat-card-header>
                                <mat-card-title>
                                    <mat-icon>filter</mat-icon> Tổng số doanh nghiệp QLNL:
                                </mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                {{slqlnl | number: '1.0-0':'vi'}} doanh nghiệp
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-4 col-lg-4">
                        <mat-card class="card2">
                            <mat-card-header>
                                <mat-card-title>
                                    <mat-icon>filter</mat-icon> Tổng số doanh nghiệp QLCN:
                                </mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                {{slqlcn | number: '1.0-0':'vi'}} doanh nghiệp
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>folder_open</mat-icon>
                        &nbsp;
                        <strong>DỮ LIỆU CHI TIẾT</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row pt-2">
                    <div class="col-lg-6 col-md-12 button-control my-auto text-left">
                        <button mat-raised-button (click)="ManageUser(id)" [hidden]=authorize>
                            <mat-icon>list</mat-icon>Danh sách tài khoản DN
                        </button>
                        <button mat-raised-button (click)="AddCertificate()">
                            <mat-icon>list</mat-icon>DS giấy phép
                        </button>
                        <button mat-raised-button class="green"
                            (click)="ExportTOExcel('Danh sách doanh nghiệp','Danh sách doanh nghiệp')">Xuất
                            Excel</button>
                        <!-- <button mat-raised-button class="green"
                            (click)="exportAsExcelFile('Danh sách doanh nghiệp')">Xuất
                            Excel</button> -->
                    </div>
                    <div class="col-lg-6 col-md-12 button-control my-auto text-xs-left text-md-left text-lg-right">
                        <button mat-raised-button (click)="addCond()" class="green" matTooltip="Thêm bộ lọc">
                            <mat-icon>add_circle_outline</mat-icon> Thêm bộ lọc
                        </button>
                        <button mat-raised-button (click)="cancelFilter()" class="red"
                            matTooltip="Xóa những dữ liệu lọc trước đó">
                            <mat-icon>search_off</mat-icon>Hủy lọc
                        </button>
                        <button mat-raised-button (click)="applyFilter()" matTooltip="Lọc giá trị trên bảng">
                            <mat-icon>filter_list</mat-icon>Lọc giá trị
                        </button>
                    </div>
                </div>
                <div class="row my-auto" *ngIf="isSearch_Advanced">
                    <div class="col-lg-12">
                        <ng-container *ngFor="let item of countNumberCondition">
                            <div class="row" id={{item.id}} #new_element>
                                <div class="col-lg-4">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Dữ liệu cần lọc</mat-label>
                                        <mat-select [(ngModel)]="item.filed_name">
                                            <mat-option *ngFor="let element of filterList" [value]="element.filed_name">
                                                {{ element.detail_name }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-7">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Nhập giá trị</mat-label>
                                        <input matInput placeholder="" [(ngModel)]="item.filed_value">
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-1 button-control my-auto">
                                    <button mat-raised-button (click)="removeCond(item.id)" class="red" matTooltip="Xóa bộ lọc">
                                        <mat-icon>remove_circle_outline</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 button-control my-auto text-left">
                        <button mat-raised-button (click)="AddCompany()" class="green" matTooltip="Tạo mới doanh nghiệp">Tạo
                            mới</button>
                        <button mat-raised-button class="red" (click)="removeRows()" matTooltip="Xóa doanh nghiệp">Xóa</button>
                    </div>
                </div>
                <div class="layout pt-2" #TABLE>
                    <table class="business-table-layout" mat-table matTableFilter [exampleEntity]="filterEntity"
                        [filterType]="filterType" [dataSource]="dataSource" matSort matSortDisableClear matSortDirection="asc">
        
                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef>
                                <mat-checkbox (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row" class="center-cell">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                                    [aria-label]="checkboxLabel(row)">
                                </mat-checkbox>
                            </td>
                        </ng-container>
        
                        <ng-container matColumnDef="index">
                            <th mat-header-cell *matHeaderCellDef> STT </th>
                            <td mat-cell *matCellDef="let element; let i = index;" class="center-cell">
                                {{i + 1 + (paginator.pageIndex * paginator.pageSize)}}</td>
                        </ng-container>
        
                        <ng-container matColumnDef="ten_doanh_nghiep">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Tên doanh nghiệp </th>
                            <td (click)="OpenDetailCompany(element.mst)" mat-cell *matCellDef="let element" class="jump">
                                {{element.ten_doanh_nghiep}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="mst">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Mã số thuế </th>
                            <td mat-cell *matCellDef="let element"> {{element.mst}} </td>
                        </ng-container>
        
                        <!-- <ng-container matColumnDef="mst_cha">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Mã số thuế cha </th>
                            <td mat-cell *matCellDef="let element"> {{element.mst_cha}} </td>
                        </ng-container> -->
        
                        <ng-container matColumnDef="ten_loai_hinh_hoat_dong">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên loại hình hoạt động </th>
                            <td mat-cell *matCellDef="let element"> {{element.ten_loai_hinh_hoat_dong}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="nguoi_dai_dien">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Người đại diện </th>
                            <td mat-cell *matCellDef="let element"> {{element.nguoi_dai_dien}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="dia_chi_tong_hop">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Liên lạc </th>
                            <td mat-cell *matCellDef="let element"> {{element.dia_chi_day_du}} <br> {{element.so_dien_thoai}} <br> {{element.email}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="dia_chi_day_du">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Địa chỉ </th>
                            <td mat-cell *matCellDef="let element"> {{element.dia_chi_day_du}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="so_dien_thoai">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Số điện thoại </th>
                            <td mat-cell *matCellDef="let element"> {{element.so_dien_thoai}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="email_sct">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email (Nguồn: SCT) </th>
                            <td mat-cell *matCellDef="let element"> {{element.email_sct}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="ngay_bd_kd">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày bắt đầu kinh doanh </th>
                            <td mat-cell *matCellDef="let element"> {{element.ngay_bd_kd}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="nganh_nghe">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngành nghề </th>
                            <td mat-cell *matCellDef="let element"> {{element.ma_nganh_nghe}} - {{element.ten_nganh_nghe}} <br> {{element.nganh_nghe_kd_chinh}}</td>
                        </ng-container>
        
                        <ng-container matColumnDef="ma_nganh_nghe">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Mã ngành nghề </th>
                            <td mat-cell *matCellDef="let element"> {{element.ma_nganh_nghe}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="ten_nganh_nghe">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên ngành nghề </th>
                            <td mat-cell *matCellDef="let element"> {{element.ten_nganh_nghe}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="nganh_nghe_kd_chinh">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngành nghề kinh doanh chính </th>
                            <td mat-cell *matCellDef="let element"> {{element.nganh_nghe_kd_chinh}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="so_giay_phep">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Số giấy phép </th>
                            <td mat-cell *matCellDef="let element"> {{element.so_giay_phep}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="ngay_cap">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày cấp </th>
                            <td mat-cell *matCellDef="let element"> {{element.ngay_cap}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="ngay_het_han">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày hết hạn </th>
                            <td mat-cell *matCellDef="let element"> {{element.ngay_het_han}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="noi_cap">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nơi cấp </th>
                            <td mat-cell *matCellDef="let element"> {{element.noi_cap}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="co_quan_cap">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cơ quan cấp </th>
                            <td mat-cell *matCellDef="let element"> {{element.co_quan_cap}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="ghi_chu">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ghi chú về giấy phép<p></p>
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.ghi_chu}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="von_dieu_le">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Vốn điều lệ </th>
                            <td mat-cell *matCellDef="let element"> {{element.von_dieu_le | number: '1.0-4':'vi'}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="quy_mo_tai_san">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Quy mô tài sản </th>
                            <td mat-cell *matCellDef="let element"> {{element.quy_mo_tai_san}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="doanh_thu">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Doanh thu </th>
                            <td mat-cell *matCellDef="let element"> {{element.doanh_thu}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="loi_nhuan">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Lơi nhuận </th>
                            <td mat-cell *matCellDef="let element"> {{element.loi_nhuan}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="cong_suat_thiet_ke">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Công suất thiết kế </th>
                            <td mat-cell *matCellDef="let element"> {{element.cong_suat_thiet_ke | number: '1.0-4':'vi'}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="cong_suat_thiet_ke_sct">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Công suất thiết kế (Nguồn: SCT) </th>
                            <td mat-cell *matCellDef="let element"> {{element.cong_suat_thiet_ke_sct | number: '1.0-4':'vi'}}
                            </td>
                        </ng-container>
        
                        <ng-container matColumnDef="so_lao_dong">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Số lao động </th>
                            <td mat-cell *matCellDef="let element"> {{element.so_lao_dong | number: '1.0-0':'vi'}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="so_lao_dong_sct">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Số lao động (Nguồn: SCT) </th>
                            <td mat-cell *matCellDef="let element"> {{element.so_lao_dong_sct | number: '1.0-0':'vi'}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="san_luong">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sản lượng </th>
                            <td mat-cell *matCellDef="let element"> {{element.san_luong | number: '1.0-4':'vi'}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="san_luong_sct">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sản lượng (Nguồn: SCT) </th>
                            <td mat-cell *matCellDef="let element"> {{element.san_luong_sct | number: '1.0-4':'vi'}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="nhu_cau_ban">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nhu cầu bán </th>
                            <td mat-cell *matCellDef="let element"> {{element.nhu_cau_ban}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="nhu_cau_mua">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nhu cầu mua </th>
                            <td mat-cell *matCellDef="let element"> {{element.nhu_cau_mua}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="nhu_cau_hop_tac">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nhu cầu hợp tác </th>
                            <td mat-cell *matCellDef="let element"> {{element.nhu_cau_hop_tac}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="tieu_chuan_san_pham">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tiêu chuẩn sản phẩm </th>
                            <td mat-cell *matCellDef="let element"> {{element.tieu_chuan_san_pham}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="hoat_dong">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Hoạt động </th>
                            <td mat-cell *matCellDef="let element"> {{element.hoat_dong && 'Còn hoạt động' || 'Ngưng hoạt
                                động'}} </td>
                        </ng-container>
        
                        <tr mat-header-row class="table-header" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row class="table-row" *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
                <mat-paginator [pageSizeOptions]="[10, 50, 100, 5000, 10000]" showFirstLastButtons></mat-paginator>

            </mat-expansion-panel>
        </mat-accordion>

    </mat-card-content>
</mat-card>