<mat-card class="material">
    <mat-card-header>
        <mat-card-title><strong>CẬP NHẬT THÔNG TIN SẢN XUẤT (ĐƠN VỊ TÍNH: NGHÌN TẤN)</strong></mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <div class="col-lg-2">
                <mat-form-field appearance="outline">
                    <mat-label>Thời gian</mat-label>
                    <input matInput [matDatepicker]="dp" [formControl]="date" readonly>
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event)"
                        (monthSelected)="chosenMonthHandler($event, dp)" panelClass="example-month-picker">
                    </mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-lg-10 button-control -align-right my-auto">
                <button mat-raised-button (click)="resetAll()">
                    Lấy tất cả dữ liệu
                </button>
                <button mat-raised-button class="red" (click)="removeRows()">Xóa sản phẩm</button>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 button-control -align-left">
                <!-- <button mat-raised-button class="white" (click)="addRow()">
                    <mat-icon>add_circle_outline</mat-icon> Thêm dòng
                </button> -->
                <button mat-raised-button class="white" (click)="insertRow()">
                    <mat-icon>add_circle</mat-icon> Thêm dòng
                </button>
                <button mat-raised-button class="white" (click)="deleteRow()">
                    <mat-icon>block</mat-icon> Xóa dòng
                </button>
                <!-- <button mat-raised-button class="white" (click)="createDefault()">
                    <mat-icon>ballot</mat-icon> Khởi tạo mặc định
                </button> -->
            </div>

            <div class="col-lg-6 button-control">
                <button mat-raised-button
                    (click)="exportTOExcel('Thông tin tình hình sản xuất','Thông tin tình hình sản xuất')">
                    <mat-icon>cloud_download</mat-icon> Xuất dữ liệu
                </button>

                <a mat-raised-button download="TinhHinhSanXuat.xlsx" title="Excel"
                    href="/assets/ExcelSample/TinhHinhSanXuat.xlsx">
                    <mat-icon>cloud_download</mat-icon> Mẫu import
                </a>

                <label id="import_excel">
                    <mat-icon>cloud_upload</mat-icon> Nhập bằng Excel <input id="customFile" type="file"
                        (change)="uploadExcel($event)" hidden #inputFile>
                </label>

                <button mat-raised-button (click)="save(dataSource.data)">
                    <mat-icon>save</mat-icon>Lưu
                </button>
            </div>
        </div>

        <mat-form-field>
            <mat-label>Lọc dữ liệu</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
        </mat-form-field>

        <div class="layout" #TABLE>
            <table mat-table class="table-layout" id="small-table" [dataSource]="dataSource">
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row" class="center-cell">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef> STT </th>
                    <td mat-cell *matCellDef="let element; let i = index;" class="center-cell">{{i + 1 +
                        (paginator.pageIndex * paginator.pageSize)}}</td>
                </ng-container>

                <ng-container matColumnDef="ten_san_pham">
                    <th mat-header-cell *matHeaderCellDef> Tên sản phẩm </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-select [(ngModel)]="element.id_san_pham">
                            <mat-option>
                                <ngx-mat-select-search placeholderLabel="Nhập giá trị tìm kiếm"
                                    noEntriesFoundLabel="Giá trị không có trong danh sách"
                                    [formControl]="sanphamfilter">
                                </ngx-mat-select-search>
                            </mat-option>

                            <mat-option *ngFor="let item of filterproducts | async" [value]="item.id_san_pham">
                                {{item.ten_san_pham}}
                            </mat-option>
                        </mat-select>
                    </td>
                </ng-container>

                <ng-container matColumnDef="id_san_pham">
                    <th mat-header-cell hidden *matHeaderCellDef> ID sản phẩm </th>
                    <td mat-cell hidden *matCellDef="let element"> {{element.id_san_pham}}</td>
                </ng-container>

                <ng-container matColumnDef="san_luong">
                    <th mat-header-cell *matHeaderCellDef> Sản lượng </th>
                    <td mat-cell *matCellDef="let element">
                        <input appReport currencyMask class="text-right" [(ngModel)]="element.san_luong">
                    </td>
                </ng-container>

                <ng-container matColumnDef="tri_gia">
                    <th mat-header-cell *matHeaderCellDef> Trị giá (Nghìn USD) </th>
                    <td mat-cell *matCellDef="let element">
                        <input appReport currencyMask class="text-right" [(ngModel)]="element.tri_gia">
                    </td>
                </ng-container>

                <ng-container matColumnDef="time_id">
                    <th mat-header-cell *matHeaderCellDef> Thời gian cập nhật </th>
                    <td mat-cell *matCellDef="let element"> {{element.time_id}}</td>
                </ng-container>

                <ng-container matColumnDef="top_san_xuat">
                    <th mat-header-cell *matHeaderCellDef> Xem và cập nhật <br> DN sản xuất</th>
                    <td mat-cell *matCellDef="let element" class="jump center-cell">
                        <mat-icon (click)="openCompanyTopPopup(element)">emoji_events</mat-icon>
                    </td>
                    <td mat-footer-cell *matFooterCellDef> </td>
                </ng-container>

                <ng-container matColumnDef="them_top_san_xuat">
                    <th mat-header-cell *matHeaderCellDef> Thêm <br> DN sản xuất </th>
                    <td mat-cell *matCellDef="let element" class="jump center-cell">
                        <mat-icon (click)="AddCompanyTopPopup(element)">update</mat-icon>
                    </td>
                </ng-container>

                <tr mat-header-row class="table-header" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row class="table-row" *matRowDef="let row; columns: displayedColumns;let i = index; "
                    (click)="changeRow(i)">
            </table>
        </div>
        <mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>