<mat-card class="material" *ngIf="view == 'list'">
    <mat-card-content>
        <mat-accordion class="accord" multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon> show_chart</mat-icon>
                        &nbsp;
                        <strong>DỮ LIỆU TỔNG HỢP</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row">
                    <div class="col-12 col-lg-12">
                        <mat-card class="card1">
                            <mat-card-header>
                                <mat-card-title>
                                    <mat-icon>filter</mat-icon> &nbsp;<b>Số lượng </b>
                                </mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                {{so_luong| formatNumber}}
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>folder_open</mat-icon>
                        &nbsp;
                        <!-- <strong>{{ loai_quy_hoach[selectedType] }}</strong> -->
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row">
                    <div class="col-6 col-lg-6 button-control my-auto">

                    </div>
                    <div class="col-6 col-lg-6 button-control my-auto">
                        <button mat-raised-button matTooltip="Xuất Excel"
                            (click)="ExportTOExcel('Trạm biến áp 110KV','Trạm biến áp 110KV')">
                            <mat-icon>file_download</mat-icon>
                        </button>
                        <button mat-raised-button matTooltip="Thêm mới" class="green" (click)="switchView()"
                            [hidden]=authorize>
                            <mat-icon>add_circle_outline</mat-icon>
                        </button>
                        <button *ngIf="selection.selected.length != 0" class="red" matTooltip="Xóa" mat-raised-button
                            (click)="openRemoveDialog()" [hidden]=authorize>
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button *ngIf="selection.selected.length == 1" matTooltip="Chỉnh sửa" mat-raised-button
                            (click)="switchEditMode()" [hidden]=authorize>
                            <mat-icon>edit</mat-icon>
                        </button>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-2 col-md-2">
                        <mat-form-field appearance="outline">
                            <mat-label>Loại dữ liệu</mat-label>
                            <mat-select (selectionChange)="changeReportType(selectTypeSearch)" [(ngModel)]="selectTypeSearch">
                                <mat-option *ngFor="let type of reportTypes" [value]="type.ma_so">{{type.noi_dung}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <mat-form-field appearance="outline">
                            <mat-label>Năm dữ liệu</mat-label>
                            <mat-select [(ngModel)]="selectedYearSearch" (selectionChange)="changePeriodSearch()">
                                <mat-option *ngFor="let item of years" [value]="item">
                                    {{item}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-2 col-md-2" *ngIf="isShowPeriod">
                        <mat-form-field appearance="outline">
                            <mat-label>Kỳ dữ liệu</mat-label>
                            <mat-select [(ngModel)]="selectedPeriodSearch" (selectionChange)="changePeriodSearch()">
                                <mat-option *ngFor="let item of periods" [value]="item">
                                    {{item}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <!-- <div class="col-lg-2 col-md-2">
                        <mat-form-field appearance="outline">
                            <mat-label>Giai đoạn</mat-label>
                            <mat-select [(ngModel)]="selectTypeStreetSearch">
                                <mat-option [value]="0">
                                    Tất cả
                                </mat-option>
                                <mat-option *ngFor="let item of periodYear" [value]="item.id">
                                    {{item.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> -->
                    <div class="col-lg-2 col-md-2">
                        <mat-form-field appearance="outline">
                            <mat-label>Loại công trình</mat-label>
                            <mat-select [(ngModel)]="selectedTypeProSearch">
                                <mat-option [value]="0">
                                    Tất cả
                                </mat-option>
                                <mat-option *ngFor="let item of danhmuc" [value]="item.id">
                                    {{item.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-2 col-md-2  my-auto">
                        <button matTooltip="Tìm kiếm" mat-raised-button (click)="search()">
                            <mat-icon>search</mat-icon>
                        </button>
                    </div>
                </div>

                <div class="layout" *ngIf="filteredDataSource.data.length; else ShowEmpty" #TABLE>
                    <table mat-table [dataSource]="filteredDataSource" #TABLE class="table-layout" id="small-table"
                        style="height: fit-content;">
                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef disableClear [attr.rowspan]="2">
                                <mat-checkbox (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                                    [aria-label]="checkboxLabel()">
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let element" class="center-cell">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(element) : null"
                                    [checked]="selection.isSelected(element)" [aria-label]="checkboxLabel(element)"
                                    *ngIf="!element.is_group">
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <!-- <ng-container matColumnDef="index">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> STT </th>
                            <td mat-cell *matCellDef="let element; let i = index;" class="center-cell">
                                {{this.filteredDataSource.paginator.pageIndex == 0 ? i
                                + 1 : 1 + i + this.filteredDataSource.paginator.pageIndex *
                                this.filteredDataSource.paginator.pageSize}}
                            </td>
                        </ng-container> -->

                        <!-- <div *ngFor="let item of fields | keyvalue">
                            <ng-container matColumnDef={{item.key}}>
                                <th mat-header-cell *matHeaderCellDef> {{item.value}} </th>
                                <td mat-cell *matCellDef="let element" class="center-cell"
                                    [style.font-weight]="element.is_group ? 'bold' : '' ">
                                    {{element[item.key]}}</td>

                            </ng-container>
                        </div> -->


                        <ng-container matColumnDef="ten_cong_trinh">
                            <th mat-header-cell *matHeaderCellDef> Tên công trình </th>
                            <td mat-cell *matCellDef="let element" class="center-cell"
                                [style.font-weight]="element.is_group ? 'bold' : '' "> {{element.ten_cong_trinh}}</td>
                        </ng-container>

                        <ng-container matColumnDef="id_giai_doan">
                            <th mat-header-cell *matHeaderCellDef > Giai đoạn </th>
                            <td mat-cell *matCellDef="let element" class="center-cell"> {{element.id_giai_doan | translateName}}</td>
                        </ng-container>

                        <ng-container matColumnDef="cong_suat">
                            <th mat-header-cell *matHeaderCellDef> Công suất (MW)</th>
                            <td mat-cell *matCellDef="let element" class="center-cell"> {{element.cong_suat}}</td>
                        </ng-container>

                        <ng-container matColumnDef="ten_quan_huyen">
                            <th mat-header-cell *matHeaderCellDef> Địa điểm quy hoạch </th>
                            <td mat-cell *matCellDef="let element" class="center-cell"> {{element.ten_quan_huyen}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="nam_khoi_cong">
                            <th mat-header-cell *matHeaderCellDef> Năm khởi công </th>
                            <td mat-cell *matCellDef="let element" class="center-cell"> {{element.nam_khoi_cong}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="nam_van_hanh">
                            <th mat-header-cell *matHeaderCellDef> Năm vận hành </th>
                            <td mat-cell *matCellDef="let element" class="center-cell"> {{element.nam_van_hanh}}</td>
                        </ng-container>

                        <tr mat-header-row class="table-header" *matHeaderRowDef="displayedColumns;sticky: true">
                        </tr>
                        <tr mat-row class="table-row"
                            *matRowDef="let element; columns: displayedColumns;let i = index; ">

                    </table>

                </div>
                <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
                <ng-template #ShowEmpty>
                    <h3 class="text-center">Không có dữ liệu</h3>
                </ng-template>

            </mat-expansion-panel>
        </mat-accordion>

    </mat-card-content>
</mat-card>

<!-- Form view -->
<mat-card class="material" *ngIf="view == 'form'">
    <mat-card-content>
        <mat-accordion>
            <mat-card-header>
                <mat-card-title>
                    <strong class="mt-3">THÔNG TIN DỮ LIỆU</strong>
                    <button mat-raised-button color="primary" matTooltip="Trở về danh sách"
                        class="float-right set-bg-color-primary" (click)="switchView()">
                        <mat-icon>menu</mat-icon> &nbsp;Danh sách
                    </button>
                </mat-card-title>
            </mat-card-header>
            <hr>
            <!-- kỳ dữ liệu -->
            <div class="row">

                <div class="col-lg-2 col-md-2">
                    <mat-form-field appearance="outline">
                        <mat-label>Loại dữ liệu</mat-label>
                        <mat-select (selectionChange)="changeReportType()" [(ngModel)]="selectType">
                            <mat-option *ngFor="let type of reportTypes" [value]="type.ma_so">{{type.noi_dung}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-2 col-md-2">
                    <mat-form-field appearance="outline">
                        <mat-label>Năm dữ liệu</mat-label>
                        <mat-select [(ngModel)]="selectedYear" (selectionChange)="changePeriod()">
                            <mat-option *ngFor="let item of years" [value]="item">
                                {{item}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-2 col-md-2" *ngIf="selectType == 3 ? true : false">
                    <mat-form-field appearance="outline">
                        <mat-label>Kỳ dữ liệu</mat-label>
                        <mat-select [(ngModel)]="selectedPeriod" (selectionChange)="changePeriod()">
                            <mat-option *ngFor="let item of periods" [value]="item">
                                {{item}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Giai đoạn</mat-label>
                        <mat-select [(ngModel)]="selectedPeriodYear">
                            <mat-option *ngFor="let item of periodYear" [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Loại công trình</mat-label>
                        <mat-select [(ngModel)]="selectedTypePro">
                            <mat-option *ngFor="let item of danhmuc" [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <hr>

            <form [formGroup]="formData" (ngSubmit)="onCreate()">
                <div class="form-group row">

                    <input matInput formControlName="id" type="text" class="o_invisible">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label for="ten_cong_trinh">Tên công trình</mat-label>
                            <input matInput placeholder="" id="ten_cong_trinh" type="text"
                                formControlName="ten_cong_trinh">
                        </mat-form-field>
                    </div>

                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label for="cong_suat">Công suất</mat-label>
                            <input matInput formControlName="cong_suat" id="cong_suat" type="text">
                        </mat-form-field>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Địa điểm quy hoạch</mat-label>
                            <mat-select formControlName="id_dia_diem_quy_hoach">
                                <mat-option *ngFor='let district of districts' [value]='district.id'>
                                    {{district.ten_quan_huyen}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label for="nam_khoi_cong">Năm khởi công</mat-label>
                            <input matInput formControlName="nam_khoi_cong" id="nam_khoi_cong" type="text">
                        </mat-form-field>
                    </div>

                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label for="nam_van_hanh">Năm đưa vào vận hành</mat-label>
                            <input matInput formControlName="nam_van_hanh" id="nam_van_hanh" type="text">
                        </mat-form-field>
                    </div>

                    <div class="col-md-12 mt-3">
                        <button type="submit" class="btn btn-success float-right" [hidden]=authorize>Lưu</button>
                        <button class="btn btn-danger float-left" (click)="clearTable($event)"
                            [hidden]=authorize>Xóa</button>
                    </div>
                </div>
            </form>
        </mat-accordion>
    </mat-card-content>
</mat-card>