<mat-dialog-content class="content-dialog">
    <ng-container>
        <div class="button-control" style="display: flex; justify-content: center;">
            <button mat-raised-button class="button-close">
                <mat-icon>flip_to_front</mat-icon>
                <a target="_blank" [href]="hrefReport" download="Bao_cao_mau_top_dn.xlsx"
                    style="color: white; text-decoration: underline;">
                    File mẫu xx
                </a>
            </button>
            <button mat-raised-button (click)="Save()" class="button-close">
                <mat-icon>flip_to_front</mat-icon>Lưu
            </button>
            <span>
                <label for="upload" class="label-upload">
                    <mat-icon>flip_to_front</mat-icon>Chọn file
                </label>
                <input id='upload' type="file" (change)="handleFile($event)" hidden />
            </span>
            <button mat-raised-button mat-dialog-close class="button-close">
                <mat-icon>flip_to_front</mat-icon>Đóng
            </button>
        </div>
        <div class="row col-lg-9">
            <div class="col-3">
                <mat-form-field appearance="outline">
                    <mat-label>Năm thực hiện</mat-label>
                    <mat-select [(ngModel)]="currentYear">
                        <mat-option *ngFor="let year of years" [value]="year">{{ year }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-3">
                <mat-form-field appearance="outline">
                    <mat-label>Tháng thực hiện</mat-label>
                    <mat-select [(ngModel)]="currentmonth">
                        <mat-option *ngFor="let month of months" [value]="month">{{ month }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-3">
                <mat-form-field appearance="outline">
                    <mat-label>Nguồn dữ liệu: </mat-label>
                    <mat-select [(ngModel)]="dataTargetId">
                        <mat-option *ngFor="let item of dataTargets" [value]="item.id">
                            {{ item.unit }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <mat-card class="material">
            <mat-card-content>
                <mat-accordion class="example-headers-align" multi>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-icon>folder_open</mat-icon>
                                &nbsp;
                                <strong>DỮ LIỆU CHI TIẾT</strong>
                            </mat-panel-title>
                            <mat-panel-description> </mat-panel-description>
                        </mat-expansion-panel-header>

                        <div class="layout" #table>
                            <ng-container>
                                <table mat-table [dataSource]="dataSource" matSort class="table-layout"
                                    id="small-table">
                                    <ng-container matColumnDef="index">
                                        <th mat-header-cell *matHeaderCellDef class="fillColor">STT</th>
                                        <td mat-cell *matCellDef="let element; let i = index">
                                            {{ i + 1 }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="ma_so_thue">
                                        <th mat-header-cell *matHeaderCellDef class="fillColor">Mã số thuế</th>
                                        <td mat-cell *matCellDef="let element; let i = index">
                                            {{element.mst}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="ten_san_pham">
                                        <th mat-header-cell *matHeaderCellDef class="fillColor">
                                            Tên sản phẩm
                                        </th>
                                        <td mat-cell *matCellDef="let element" class="fillColor">
                                            {{ element.ten_san_pham }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="tri_gia">
                                        <th mat-header-cell *matHeaderCellDef>Trị giá (Triệu USD)</th>
                                        <td mat-cell *matCellDef="let element" class="gia-tri">
                                            {{ element.tri_gia_thang | formatNumber }}
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row class="table-header"
                                        *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                    <tr mat-row class="table-row"
                                        *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
                                </table>
                            </ng-container>
                        </div>
                        <mat-paginator #paginator [pageSizeOptions]="[20, 25, 50]"></mat-paginator>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card-content>
        </mat-card>
    </ng-container>
</mat-dialog-content>