<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div style="text-align: center;"><span style="font-size:15px;"><span
                            style="font-family:Arial,Helvetica,sans-serif;"><span
                                style="color:rgb(0, 0, 204);"><strong>TRANG THÔNG TIN ĐIỆN TỬ SỞ CÔNG THƯƠNG
                                    TỈNH BÌNH PHƯỚC</strong></span></span></span>
                    <div style="text-align: center; font-size: 13px;">Địa chỉ: Đường Hùng Vương, phường Tân Bình, TP.
                        Đồng Xoài,
                        tỉnh Bình Phước
                        <br>Điện thoại: <a href="tel:+84988.500.777">(0271) 3870.235</a> - Email: <a
                            href="http://www.socongthuongbp.gov.vn/home/contact/Truong-Ban-bien-tap-trang-thong-tin-dien-tu-So/">sct.bp@binhphuoc.gov.vn</a>
                    </div>
                </div>
            </div>

            <div class="col-3" style="font-size: 13px;">
                <ul class="counter list-none display-table">
                    <li>
                        <mat-icon>accessibility</mat-icon> Tổng số lượt truy cập:
                        <strong>{{tong_luot_truy_cap}}</strong>
                    </li>
                    <li>
                        <mat-icon>calendar_today</mat-icon> Số lượt truy cập năm:
                        <strong>{{so_luot_truy_cap_nam}}</strong>
                    </li>
                </ul>
            </div>

            <div class="col-3" style="font-size: 13px;">
                <li>
                    <mat-icon>event_available</mat-icon> Số lượt truy cập tháng:
                    <strong>{{so_luot_truy_cap_thang}}</strong>
                </li>
                <li>
                    <mat-icon>event_note</mat-icon> Số lượt truy cập ngày:
                    <strong>{{so_luot_truy_cap_ngay}}</strong>
                </li>
            </div>
        </div>
    </div>