<mat-card class="material">
    <mat-card-header>
        <mat-card-title><strong>CỬA HÀNG BÁN LẺ XĂNG DẦU</strong></mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <!-- <div class="button-control">
            <button mat-raised-button (click)="accordion.openAll()">
                <mat-icon>flip_to_front</mat-icon> Mở Tất Cả
            </button>
            <button mat-raised-button (click)="accordion.closeAll()">
                <mat-icon>flip_to_back</mat-icon> Đóng tất cả
            </button>
        </div> -->
        <mat-accordion class="accord" multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon> show_chart</mat-icon>
                        &nbsp;
                        <strong>DỮ LIỆU TỔNG HỢP</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row">
                    <div class="col-3">
                        <mat-card class="card2">
                            <mat-card-header>
                                <mat-card-title>
                                    <mat-icon>filter</mat-icon> Tổng số doanh nghiệp kinh doanh xăng dầu:
                                </mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                {{SLDoanhNghiep | number: '1.0-0':'vi'}} doanh nghiệp
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-3">
                        <mat-card class="card2">
                            <mat-card-header>
                                <mat-card-title>
                                    <mat-icon>filter</mat-icon> Tổng số cửa hàng <br> xăng dầu:
                                </mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                {{this.dataSource1.filteredData.length | number: '1.0-0':'vi'}} cửa hàng
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-3">
                        <mat-card class="card2">
                            <mat-card-header>
                                <mat-card-title>
                                    <mat-icon>filter</mat-icon> Tổng sản lượng bán ra:
                                </mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                {{SanLuongBanRa | number: '1.0-4':'vi'}} m³/năm
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-3">
                        <mat-card class="card2">
                            <mat-card-header>
                                <mat-card-title>
                                    <mat-icon>filter</mat-icon> Tổng số thương nhân cung cấp xăng dầu:
                                </mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                {{SLThuongNhan | number: '1.0-0':'vi'}} thương nhân
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>folder_open</mat-icon>
                        &nbsp;
                        <strong>DỮ LIỆU CHI TIẾT</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row">
                    <div class="col-2">
                        <mat-form-field appearance="outline">
                            <mat-label>Thời gian</mat-label>
                            <input matInput [matDatepicker]="dp" [formControl]="date" readonly>
                            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                            <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event, dp)"
                                panelClass="example-month-picker">
                            </mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="col-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Địa bàn</mat-label>
                            <mat-select #dSelect (selectionChange)="applyDistrictFilter($event)" multiple>
                                <!-- <mat-option [value]="0" (click)="toggleAllSelection()">Tất cả</mat-option> -->
                                <mat-option *ngFor='let item of district' [value]='item.ten_quan_huyen'>
                                    {{item.ten_quan_huyen}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-1 checkbox">
                        <mat-checkbox (change)="applyExpireCheck($event)" [ngModel]="isChecked">DN hết hạn
                        </mat-checkbox>
                    </div>

                    <div class="col-6 button-control -align-right my-auto">
                        <button mat-raised-button (click)="ManageBusiness()">Quản lý thương nhân</button>

                        <button mat-raised-button (click)="ManageStore()">Quản lý cửa hàng</button>

                        <button mat-raised-button class="green"
                            (click)="ExportTOExcel('Thống kê sản lượng','Thống kê sản lượng')">Xuất
                            Excel</button>

                        <button mat-raised-button (click)="Back()">
                            <mat-icon>keyboard_backspace</mat-icon>
                        </button>
                    </div>
                </div>

                <div class="layout" #table>
                    <mat-form-field id="filter3">
                        <mat-label>Lọc dữ liệu</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
                    </mat-form-field>

                    <table mat-table [dataSource]="dataSource1" class="table-layout" id="small-table3">

                        <ng-container matColumnDef="cap_nhat">
                            <th mat-header-cell *matHeaderCellDef> Thêm thương nhân</th>
                            <td (click)="AddSupplyBusiness(element.id_san_luong, element.time_id)" mat-cell
                                *matCellDef="let element" class="center-cell" id="jump">
                                <ng-container *ngIf="element.ten_thuong_nhan == ''; else elseTemplate">
                                    <mat-icon> chat</mat-icon> (Chưa cập nhật thương nhân)
                                </ng-container>
                                <ng-template #elseTemplate>
                                    <mat-icon> chat</mat-icon>
                                </ng-template>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="index">
                            <th mat-header-cell *matHeaderCellDef> STT </th>
                            <td mat-cell *matCellDef="let element; let i = index;" class="center-cell">
                                {{i + 1 + (paginator.pageIndex * paginator.pageSize)}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="id_cua_hang_xang_dau">
                            <th hidden mat-header-cell *matHeaderCellDef> ID </th>
                            <td hidden mat-cell *matCellDef="let element"> {{element.id_cua_hang_xang_dau}} </td>
                        </ng-container>

                        <ng-container matColumnDef="id_san_luong">
                            <th hidden mat-header-cell *matHeaderCellDef> ID Sản lượng </th>
                            <td hidden mat-cell *matCellDef="let element"> {{element.id_san_luong}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ten_cua_hang">
                            <th mat-header-cell *matHeaderCellDef> Tên cửa hàng </th>
                            <td mat-cell *matCellDef="let element"
                                [ngClass]="{'warning': element.ten_thuong_nhan == ''}">
                                {{element.ten_cua_hang}} </td>
                        </ng-container>

                        <ng-container matColumnDef="mst">
                            <th mat-header-cell *matHeaderCellDef> Mã số thuế </th>
                            <td mat-cell *matCellDef="let element"> {{element.mst}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ten_doanh_nghiep">
                            <th mat-header-cell *matHeaderCellDef> Tên doanh nghiệp </th>
                            <td mat-cell *matCellDef="let element"> {{element.ten_doanh_nghiep}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ten_thuong_nhan">
                            <th mat-header-cell *matHeaderCellDef> Thương nhân cung cấp </th>
                            <td mat-cell *matCellDef="let element"> {{element.ten_thuong_nhan}} </td>
                        </ng-container>

                        <ng-container matColumnDef="san_luong">
                            <th mat-header-cell *matHeaderCellDef> Sản lượng tiêu thụ (m3/năm) </th>
                            <td mat-cell *matCellDef="let element"> {{element.san_luong | number: '1.0-4':'vi'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="so_giay_phep">
                            <th mat-header-cell *matHeaderCellDef> Số GCN </th>
                            <td mat-cell *matCellDef="let element"> {{element.so_giay_phep}}</td>
                        </ng-container>

                        <ng-container matColumnDef="ngay_cap">
                            <th mat-header-cell *matHeaderCellDef> Ngày cấp </th>
                            <td mat-cell *matCellDef="let element"> {{element.ngay_cap}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="ngay_het_han">
                            <th mat-header-cell *matHeaderCellDef> Ngày hết hạn </th>
                            <td mat-cell *matCellDef="let element"> {{element.ngay_het_han}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="dia_chi">
                            <th mat-header-cell *matHeaderCellDef> Địa chỉ </th>
                            <td mat-cell *matCellDef="let element"> {{element.dia_chi}} </td>
                        </ng-container>

                        <ng-container matColumnDef="so_dien_thoai">
                            <th mat-header-cell *matHeaderCellDef> Số điện thoại </th>
                            <td mat-cell *matCellDef="let element"> {{element.so_dien_thoai}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ten_quan_ly">
                            <th mat-header-cell *matHeaderCellDef> Cán bộ quản lý </th>
                            <td mat-cell *matCellDef="let element"> {{element.ten_quan_ly}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ten_nhan_vien">
                            <th mat-header-cell *matHeaderCellDef> Nhân viên bán hàng </th>
                            <td mat-cell *matCellDef="let element"> {{element.ten_nhan_vien}} </td>
                        </ng-container>

                        <ng-container matColumnDef="nguoi_dai_dien">
                            <th mat-header-cell *matHeaderCellDef> Người đại diện theo pháp luật </th>
                            <td mat-cell *matCellDef="let element"> {{element.nguoi_dai_dien}}</td>
                        </ng-container>

                        <ng-container matColumnDef="ghi_chu">
                            <th mat-header-cell *matHeaderCellDef> Ghi chú </th>
                            <td mat-cell *matCellDef="let element"> {{element.ghi_chu}}</td>
                        </ng-container>

                        <ng-container matColumnDef="tinh_trang_hoat_dong">
                            <th mat-header-cell *matHeaderCellDef> Tình trạng hoạt động </th>
                            <td mat-cell *matCellDef="let element"> {{element.tinh_trang_hoat_dong}}</td>
                        </ng-container>

                        <ng-container matColumnDef="ten_quan_huyen">
                            <th hidden mat-header-cell *matHeaderCellDef> Địa bàn </th>
                            <td hidden mat-cell *matCellDef="let element"> {{element.ten_quan_huyen}} </td>
                        </ng-container>

                        <ng-container matColumnDef="time_id">
                            <th hidden mat-header-cell *matHeaderCellDef> Thời gian </th>
                            <td hidden mat-cell *matCellDef="let element"> {{element.time_id}}
                            </td>
                        </ng-container>

                        <tr mat-header-row class="table-header" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row class="table-row" *matRowDef="let row; columns: displayedColumns;let i = index; ">
                    </table>
                </div>
                <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
            </mat-expansion-panel>
        </mat-accordion>

    </mat-card-content>
</mat-card>