<mat-card class="material">
    <mat-card-content>
        <!-- <div class="button-control">
            <button mat-raised-button (click)="accordion.openAll()">
                <mat-icon>flip_to_front</mat-icon> Mở Tất Cả
            </button>
            <button mat-raised-button (click)="accordion.closeAll()">
                <mat-icon>flip_to_back</mat-icon> Đóng tất cả
            </button>
        </div> -->
        <mat-accordion class="accord" multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>folder_open</mat-icon>
                        &nbsp;
                        <strong>DANH SÁCH THƯƠNG NHÂN</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row">
                    <div class="col-12 button-control -align-right my-auto">
                        <button mat-raised-button (click)="AddBusiness()">Thêm thương nhân</button>

                        <button mat-raised-button class="red" (click)="removeRows()">Xóa thương nhân</button>

                        <button mat-raised-button class="green"
                            (click)="ExportTOExcel('Danh sách thương nhân','Danh sách thương nhân')">Xuất
                            Excel</button>
                    </div>
                </div>

                <div class="layout" #table>
                    <mat-form-field id="filter">
                        <mat-label>Lọc dữ liệu</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
                    </mat-form-field>

                    <table mat-table [dataSource]="dataSource" class="table-layout" id="small-table">
                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef>
                                <mat-checkbox (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                                    [aria-label]="checkboxLabel()">
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row" class="center-cell">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(row) : null"
                                    [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="index">
                            <th mat-header-cell *matHeaderCellDef> STT </th>
                            <td mat-cell *matCellDef="let element; let i = index;" class="center-cell">
                                {{i + 1 + (paginator.pageIndex * paginator.pageSize)}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="id_thuong_nhan">
                            <th hidden mat-header-cell *matHeaderCellDef> ID </th>
                            <td hidden mat-cell *matCellDef="let element"> {{element.id_thuong_nhan}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ten_thuong_nhan">
                            <th mat-header-cell *matHeaderCellDef> Tên thương nhân </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.ten_thuong_nhan}} </td>
                        </ng-container>

                        <ng-container matColumnDef="dia_chi">
                            <th mat-header-cell *matHeaderCellDef> Địa chỉ </th>
                            <td mat-cell *matCellDef="let element"> {{element.dia_chi}} </td>
                        </ng-container>

                        <ng-container matColumnDef="so_dien_thoai">
                            <th mat-header-cell *matHeaderCellDef> Số điện thoại </th>
                            <td mat-cell *matCellDef="let element"> {{element.so_dien_thoai}}</td>
                        </ng-container>

                        <ng-container matColumnDef="cap_nhat">
                            <th mat-header-cell *matHeaderCellDef> Cập nhật </th>
                            <td mat-cell *matCellDef="let element" class="center-cell" id="jump">
                                <mat-icon (click)="AddBusiness(element.id_thuong_nhan)">update</mat-icon>
                            </td>
                        </ng-container>

                        <tr mat-header-row class="table-header" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row class="table-row" *matRowDef="let row; columns: displayedColumns;let i = index; ">
                    </table>
                </div>
                <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
            </mat-expansion-panel>
        </mat-accordion>

    </mat-card-content>
</mat-card>