<mat-card class="material" *ngIf="view == 'list'">
    <mat-card-content>
        <mat-accordion class="accord" multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon> show_chart</mat-icon>
                        &nbsp;
                        <strong>DỮ LIỆU TỔNG HỢP</strong>

                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row">
                    <div class="col-4 col-lg-4">
                        <mat-card class="card1">
                            <mat-card-header>
                                <mat-card-title>
                                    <mat-icon>filter</mat-icon> 1. Tổng số chợ: <span>{{numOfMarket}} chợ</span>
                                </mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-4 col-lg-4">
                        <mat-card class="card-default">
                            <mat-card-header>
                                <mat-card-title>
                                    <mat-icon>filter</mat-icon> 2. Phân theo địa bàn:
                                </mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <ul>
                                    <li>
                                        Chợ nông thôn: <span>{{diaban_NongThon}}</span>
                                    </li>
                                    <li>
                                        Chợ thành thị: <span>{{diaban_ThanhThi}}</span>
                                    </li>
                                    <!-- <li>
                                        Chợ đầu mối: <span>{{diaban_DauMoi}}</span>
                                    </li>
                                    <li>
                                        Chợ trong quy hoạch: <span>{{diaban_TrongQuyHoach}}</span>
                                    </li>
                                    <li>
                                        Chợ tự phát: <span>{{diaban_TuPhat}}</span>
                                    </li>
                                    <li>
                                        Chợ khác: <span>{{diaban_Khac}}</span>
                                    </li> -->
                                </ul>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-4 col-lg-4">
                        <mat-card class="card-default">
                            <mat-card-header>
                                <mat-card-title>
                                    <mat-icon>filter</mat-icon> 3. Phân theo hạng chợ:
                                </mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <ul>
                                    <li>
                                        Chợ hạng 1: <span>{{hang_HangI}} chợ</span>
                                    </li>
                                    <li>
                                        Chợ hạng 2: <span>{{hang_HangII}} chợ</span>
                                    </li>
                                    <li>
                                        Chợ hạng 3: <span>{{hang_HangIII}} chợ</span>
                                    </li>
                                    <li>
                                        Làm tạm: <span>{{hang_LamTam}} chợ</span>
                                    </li>
                                    <li>
                                        Chưa có hạng: <span>{{hang_ChuaCo}} chợ</span>
                                    </li>
                                </ul>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4 col-lg-4">
                        <mat-card class="card-default">
                            <mat-card-header>
                                <mat-card-title>
                                    <mat-icon>filter</mat-icon> 4. Tính chất công trình:
                                </mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <ul>
                                    <li>
                                        Chợ kiên cố: <span>{{congtrinh_KienCo}}</span>
                                    </li>
                                    <li>
                                        Chợ bán kiên cố: <span>{{congtrinh_BanKienCo}}</span>
                                    </li>
                                    <li>
                                        Chợ tạm: <span>{{congtrinh_Tam}}</span>
                                    </li>
                                </ul>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-4 col-lg-4">
                        <mat-card class="card-default">
                            <mat-card-header>
                                <mat-card-title>
                                    <mat-icon>filter</mat-icon> 5. Phân theo tính chất kinh doanh:
                                </mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <ul>
                                    <!-- <li>
                                        Chợ đầu mối chuyên doanh: <span>{{kinhdoanh_choDauMoiChuyenDoanh}}</span>
                                    </li>
                                    <li>
                                        Chợ đầu mối tổng hợp: <span>{{kinhdoanh_choDauMoiTongHop}}</span>
                                    </li>
                                    <li>
                                        Chợ bán lẻ: <span>{{kinhdoanh_choBanLe}}</span>
                                    </li> -->

                                </ul>
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <div class="col-4 col-lg-4">
                        <mat-card class="card-default">
                            <mat-card-header>
                                <mat-card-title>
                                    <mat-icon>filter</mat-icon> 6. Phân theo hình thức quản lý:
                                </mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <ul>
                                    <!-- <li>
                                        Ban quản lý/Tổ quản lý: <span>{{quanly_BanTo}}</span>
                                    </li>
                                    <li>
                                        Doanh nghiệp: <span>{{quanly_DoanhNghiep}}</span>
                                    </li>
                                    <li>
                                        Hợp tác xã: <span>{{quanly_HopTacXa}}</span>
                                    </li>
                                    <li>
                                        Hộ kinh doanh: <span>{{quanly_HoKinhDoanh}}</span>
                                    </li> -->
                                </ul>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <hr>
                <div class="row">

                    <div class="col-4 col-lg-4">
                        <mat-card class="card-default">
                            <mat-card-header>
                                <mat-card-title>
                                    <mat-icon>filter</mat-icon> 7. Tổng vốn đầu tư chợ:
                                </mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <ul>
                                    <!-- <li>
                                        Vốn ngân sách Trung ương: <span>{{tongvon_VonNganSachTW}}</span>
                                    </li>
                                    <li>
                                        Vốn ngân sách địa phương: <span>{{tongvon_VonNganSachDiaPhuong}}</span>
                                    </li>
                                    <li>
                                        Vốn doanh nghiệp, hợp tác xã, hộ kinh doanh: <span>{{tongvon_DNHTXH}}</span>
                                    </li>
                                    <li>
                                        Vốn khác: <span>{{tongvon_Khac}}</span>
                                    </li> -->
                                </ul>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-4 col-lg-4">
                        <mat-card class="card-default">
                            <mat-card-header>
                                <mat-card-title>
                                    <mat-icon>filter</mat-icon> 8. Thống kê xây dựng:
                                </mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <ul>
                                    <!-- <li>
                                        Chợ xây dựng mới năm {{currentYear}}: <span>{{xaydung_Moi}}</span>
                                    </li>
                                    <li>
                                        Chợ nâng cấp, cải tạo năm {{currentYear}}: <span>{{xaydung_CaiTao}}</span>
                                    </li>
                                    <li>
                                        Chợ đầu tư kiên cố, bán kiên không không hoạt động năm {{currentYear}}:
                                        <span>{{xaydung_KhongHoatDong}}</span>
                                    </li>
                                    <li>
                                        Chợ đầu tư kiên cố, bán kiên kinh doanh dưới 30% năm {{currentYear}}:<span>
                                            {{xaydung_KhongHoatDong70}}</span>
                                    </li>
                                    <li>
                                        Chợ chuyển đổi chức năng hoạt động năm
                                        {{currentYear}}:<span>{{xaydung_ChuyenDoi}}</span>
                                    </li> -->
                                </ul>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-4 col-lg-4">
                        <mat-card class="card-default">
                            <mat-card-header>
                                <mat-card-title>
                                    <mat-icon>filter</mat-icon> 9. Chợ khác:
                                </mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <ul>
                                    <!-- <li>
                                        Chợ ngoài quy hoạch: <span>{{chokhac_NgoaiQuyHoach}}</span>
                                    </li>
                                    <li>
                                        Chợ đêm: <span>{{chokhac_ChoDem}}</span>
                                    </li>
                                    <li>
                                        Chợ biên giới:<span>{{chokhac_BienGioi}}</span>
                                    </li> -->
                                </ul>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>folder_open</mat-icon>
                        &nbsp;
                        <strong>DỮ LIỆU CHI TIẾT</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row">
                    <div class="col-3 col-lg-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Địa bàn</mat-label>
                            <mat-select (selectionChange)="applyFilter()" [(ngModel)]="filterModel.id_quan_huyen" multiple>
                                <mat-option *ngFor='let district of districts' [value]='district.id'>
                                    {{district.ten_quan_huyen}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-3 col-lg-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Hạng chợ</mat-label>
                            <mat-select (selectionChange)="applyFilter()" [(ngModel)]="filterModel.id_hang_cho" multiple>
                                <mat-option *ngFor='let type of marketTypeList' [value]='type.id_hang_cho'>
                                    {{type.loai_hang_cho}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-3 col-lg-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Tính chất công trình</mat-label>
                            <mat-select (selectionChange)="applyFilter()" [(ngModel)]="filterModel.id_tinh_chat_cho" multiple>
                                <mat-option *ngFor='let type of marketPropTypeList' [value]='type.id_tinh_chat_cho'>
                                    {{type.tinh_chat_cho}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <!-- <div class="col-3 col-lg-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Hình thức quản lý</mat-label>
                            <mat-select multiple>
                                <mat-option *ngFor='let managerType of managerTypes' [value]='managerType.key'>
                                    {{managerType.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> -->

                    <div class="col-3 col-lg-3 button-control">
                        <button mat-raised-button matTooltip="Xuất Excel"
                            (click)="ExportTOExcel('HTTM - Chợ','HTTM - Chợ')"><mat-icon>file_download</mat-icon></button>
                        <button mat-raised-button matTooltip="Thêm mới" 
                            color="primary" (click)="switchView()"><mat-icon>add_circle_outline</mat-icon></button>
                        <button *ngIf="selection.selected.length != 0" color="warn" matTooltip="Xóa" 
                            mat-raised-button (click)="openRemoveDialog()"><mat-icon>delete</mat-icon></button>
                    </div>
                </div>
                <hr>

                <div class="layout" *ngIf="filteredDataSource.data.length; else ShowEmpty" #TABLE>
                    <table mat-table [dataSource]="filteredDataSource" class="table-layout set-width-300-per">
                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef disableClear >
                                <mat-checkbox (change)="$event ? masterToggle() : null" class="float-left"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                                    [aria-label]="checkboxLabel()"> 
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(element) : null" [checked]="selection.isSelected(element)"
                                    [aria-label]="checkboxLabel(element)">
                                </mat-checkbox>
                            </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="index">
                            <th mat-header-cell *matHeaderCellDef> STT </th>
                            <td mat-cell *matCellDef="let element; let i = index;" class="center-cell">
                                {{this.filteredDataSource.paginator.pageIndex == 0 ? i
                                + 1 : 1 + i + this.filteredDataSource.paginator.pageIndex * this.filteredDataSource.paginator.pageSize}} 
                            </td>                        
                        </ng-container>

                        <div *ngFor="let field of displayedFields | keyvalue">
                            <ng-container matColumnDef="{{field.key}}" [sticky]="field.key == 'ten_doanh_nghiep' ? true : null">
                                <th mat-header-cell *matHeaderCellDef> {{field.value}} </th>
                                <ng-container *ngIf="field.key != 'tinh_trang_hoat_dong';else activeFieldCond">
                                    <ng-container *ngIf="!['dien_tich', 'so_diem_kinh_doanh', 'vdt_tong', 'vdt_ngan_sach', 'vdt_xa_hoi_hoa'].includes(field.key);else qtyFieldCond">
                                        <ng-container *ngIf="!['ngay_het_han', 'ngay_cap'].includes(field.key) ;else dateFieldCond">
                                            <ng-container *ngIf="!['is_thanh_thi'].includes(field.key) ;else isThanhThiFieldCond">
                                                <td mat-cell *matCellDef="let element"> {{element[field.key]}}</td>
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>

                                <ng-template #activeFieldCond>
                                    <td mat-cell *matCellDef="let element"> {{element[field.key] == 1? 'Hoạt động' : 'Hết hạn'}}</td>
                                </ng-template>

                                <ng-template #qtyFieldCond>
                                    <td mat-cell *matCellDef="let element"> {{element[field.key] | number:'1.0-4'}}</td>
                                </ng-template>

                                <ng-template #dateFieldCond>
                                    <td mat-cell *matCellDef="let element"> {{element[field.key] | date:'dd/MM/yyyy'}}</td>
                                </ng-template>

                                <ng-template #isThanhThiFieldCond>
                                    <td mat-cell *matCellDef="let element"> {{element[field.key] ? 'Thành thị': 'Nông thôn'}}</td>
                                </ng-template>
                                
                            </ng-container>
                        </div>
                        
                        <!-- Table header row 2 -->
                        <ng-container matColumnDef="general">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;" [attr.colspan]="14">
                        </ng-container>

                        <ng-container matColumnDef="marketManagementType">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;" [attr.colspan]="4">Hình thức quản lý chợ</th>
                        </ng-container>

                        <ng-container matColumnDef="managementType">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;" [attr.colspan]="2">Hình thức quản lý</th>
                        </ng-container>

                        <ng-container matColumnDef="marketManageInfo">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;" [attr.colspan]="4">Thông tin liên lạc đơn vị quản lý chợ</th>
                        </ng-container>

                        <ng-container matColumnDef="investment">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;" [attr.colspan]="6"> Vốn Đầu tư phát triển chợ </th>
                        </ng-container>

                        <tr mat-header-row class="table-header" *matHeaderRowDef="['general', 'marketManagementType', 'managementType', 'marketManageInfo', 'investment']; sticky: true"></tr>

                        <tr mat-header-row class="table-header" *matHeaderRowDef="displayedColumns; sticky : true">
                        </tr>
                        <tr mat-row class="table-row" *matRowDef="let row; columns: displayedColumns;let i = index; ">
                    </table>
                </div>
                <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
                <ng-template #ShowEmpty>
                    <h3 class="text-center">Không có dữ liệu</h3>
                </ng-template>
                <br>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
</mat-card>

<!-- Form view -->
<mat-card class="material" *ngIf="view == 'form'">
    <mat-card-content>
        <mat-accordion>
            <mat-card-header>
                <mat-card-title>
                    <strong class="mt-3">TẠO MỚI DỮ LIỆU</strong>
                    <button mat-raised-button color="primary" matTooltip="Trở về danh sách"
                    class="float-right set-bg-color-primary" (click)="switchView()">
                        <mat-icon>menu</mat-icon> &nbsp;Danh sách
                    </button>
                </mat-card-title>
            </mat-card-header>
            <hr>
            <form [formGroup]="formData" (ngSubmit)="onCreate()">
                <div class="form-group row">
                    
                    <div class="col-md-12">
                        <mat-card-header>
                            <mat-card-title class="text-left">
                                Thông tin chợ
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="row">
                                <div class="col-md-12" >
                                    <mat-form-field appearance="outline"> 
                                        <mat-label>Tên chợ</mat-label>
                                        <input matInput formControlName="ten_cho" type="text" placeholder="Chợ ...">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3 col-lg-3" >
                                    <mat-form-field appearance="outline">
                                        <mat-label>Địa bàn</mat-label>
                                        <mat-select formControlName="id_phuong_xa">
                                            <mat-option *ngFor='let ward of wards' [value]='ward.id_phuong_xa'>
                                                {{ward.ten_phuong_xa}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Thành thị/Nông thôn</mat-label>
                                        <mat-select formControlName="is_thanh_thi">
                                            <mat-option value=0>
                                                Nông thôn
                                            </mat-option>
                                            <mat-option value=1>
                                                Thành thị
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Phân hạng</mat-label>
                                        <mat-select formControlName="id_hang_cho">
                                            <mat-option *ngFor='let type of marketTypeList' [value]='type.id_hang_cho'>
                                                {{type.loai_hang_cho}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Tính chất</mat-label>
                                        <mat-select formControlName="id_tinh_chat_cho">
                                            <mat-option *ngFor='let type of marketPropTypeList' [value]='type.id_tinh_chat_cho'>
                                                {{type.tinh_chat_cho}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Diện tích đất</mat-label>
                                        <input matInput  type="number" formControlName="dien_tich">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Số điểm kinh doanh</mat-label>
                                        <input matInput  type="number" formControlName="so_diem_kinh_doanh">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Số hộ kinh doanh cố định</mat-label>
                                        <input matInput  type="number" formControlName="so_ho_kinh_doanh_co_dinh">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Hiện trạng hoạt động</mat-label>
                                        <input matInput  type="text" formControlName="hien_trang_hoat_dong">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Đề xuất thực hiện</mat-label>
                                        <input matInput  type="text" formControlName="de_xuat_thuc_hien">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Kế hoạch thực hiện</mat-label>
                                        <input matInput  type="text" formControlName="ke_hoach_thuc_hien">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Ưu tiên đề xuất đầu tư</mat-label>
                                        <input matInput  type="text" formControlName="uu_tien_de_xuat_dau_tu">
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-card-content>
                    </div>

                    <div class="col-md-12">
                        <mat-card-header>
                            <mat-card-title class="text-left">
                                <span class="pt-2"> Hình thức quản lý chợ </span>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="row">
                        
                                <div class="col-md-6 col-lg-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Số người</mat-label>
                                        <input matInput  type="number" formControlName="htql_so_nguoi">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6 col-lg-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Ban quản lý</mat-label>
                                        <input matInput type="number" formControlName="htql_ban_ql">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6 col-lg-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Tổ quản lý</mat-label>
                                        <input matInput type="number" formControlName="htql_to_ql">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6 col-lg-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Doanh nghiệp/Hợp tác xã</mat-label>
                                        <input matInput type="number" formControlName="htql_dn_htx">
                                    </mat-form-field>
                                </div>
                                
                                <div class="col-md-6 col-lg-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Cơ quan quản lý</mat-label>
                                        <input matInput  type="text" formControlName="hinh_thuc_quan_ly">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6 col-lg-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Hình thức sử dụng đất</mat-label>
                                        <mat-select formControlName="id_hinh_thuc_su_dung_dat">
                                            <mat-option *ngFor='let type of landUseTypeList' [value]='type.id_hinh_thuc_su_dung_dat'>
                                                {{type.hinh_thuc_su_dung_dat}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-card-content>
                    </div>

                    <div class="col-md-12">
                        <mat-card-header>
                            <mat-card-title class="text-left">
                                <span class="pt-2"> Thông tin liên lạc đơn vị quản lý chợ </span>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Họ và tên (Cơ quan/BQL chợ)</mat-label>
                                        <input matInput  type="number" formControlName="ttll_cq_ho_ten">
                                    </mat-form-field>
                                </div>  

                                <div class="col-md-6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Điện thoại (Cơ quan/BQL chợ)</mat-label>
                                        <input matInput type="number" formControlName="ttll_cq_dien_thoai">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Họ và tên (Doanh nghiệp)</mat-label>
                                        <input matInput  type="number" formControlName="ttll_dn_ho_ten">
                                    </mat-form-field>
                                </div>  

                                <div class="col-md-6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Điện thoại (Doanh nghiệp)</mat-label>
                                        <input matInput type="number" formControlName="ttll_dn_dien_thoai">
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-card-content>
                    </div>

                    <div class="col-md-12">
                        <mat-card-header>
                            <mat-card-title class="text-left">
                                <span class="pt-2"> Vốn Đầu tư phát triển chợ </span>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Vốn đầu tư Tổng</mat-label>
                                        <input matInput  type="number" formControlName="vdt_tong">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Vốn đầu tư Ngân sách</mat-label>
                                        <input matInput  type="number" formControlName="vdt_ngan_sach">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Vốn đầu tư Xã hội hóa</mat-label>
                                        <input matInput  type="number" formControlName="vdt_xa_hoi_hoa">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Năm</mat-label>
                                        <input matInput type="text" formControlName="nam">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Xây mới</mat-label>
                                        <input matInput type="text" formControlName="xay_moi">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Nâng cấp</mat-label>
                                        <input matInput type="text" formControlName="nang_cap">
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-card-content>
                    </div>

                    <div class="col-md-12">
                        <mat-card-header>
                            <mat-card-title class="text-left">
                                <span class="pt-2"> Ghi chú </span>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Ghi chú</mat-label>
                                        <input matInput type="textarea" formControlName="ghi_chu">
                                    </mat-form-field>
                                </div>
                            
                            </div>
                        </mat-card-content>
                    </div>  

                    <div class="col-md-12">
                        <button type="submit" class="btn btn-success float-right">Tạo mới</button>
                        <button class="btn btn-danger set-bg-color-danger float-left" (click)="clearTable($event)">Xóa</button>
                    </div>
                </div>
            </form>
        </mat-accordion>
    </mat-card-content>
</mat-card>