<mat-card class="material" *ngIf="view == 'list'">
    <mat-card-content>
        <mat-accordion class="accord" multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon> show_chart</mat-icon>
                        &nbsp;
                        <strong>DỮ LIỆU TỔNG HỢP</strong>

                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-4">
                        <mat-card class="card1">
                            <mat-card-header>
                                <mat-card-title>
                                    <mat-icon>filter</mat-icon> 1. Tổng số chợ:
                                </mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <span>{{numOfMarket}} chợ</span>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <mat-card class="card-default">
                            <mat-card-header>
                                <mat-card-title>
                                    <mat-icon>filter</mat-icon> 2. Phân theo loại chợ:
                                </mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <ul>
                                    <li>
                                        Chợ nông thôn: <span>{{loaihinh_NongThon}}</span>
                                    </li>
                                    <li>
                                        Chợ thành thị: <span>{{loaihinh_ThanhThi}}</span>
                                    </li>
                                    <li>
                                        Chợ đầu mối: <span>{{loaihinh_ChoDauMoi}}</span>
                                    </li>
                                    <li>
                                        Chợ trong quy hoạch: <span>{{loaihinh_ChoTrongQuyHoach}}</span>
                                    </li>
                                    <li>
                                        Chợ tự phát: <span>{{loaihinh_ChoTuPhat}}</span>
                                    </li>
                                    <li>
                                        Chợ khác: <span>{{loaihinh_ChoKhac}}</span>
                                    </li>
                                    <li>
                                        Xã chưa có chợ: <span>{{loaihinh_ChuaCoCho}}</span>
                                    </li>
                                </ul>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <mat-card class="card-default">
                            <mat-card-header>
                                <mat-card-title>
                                    <mat-icon>filter</mat-icon> 3. Phân theo hạng chợ:
                                </mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <ul>
                                    <li>
                                        Chợ hạng 1: <span>{{hang_HangI}} chợ</span>
                                    </li>
                                    <li>
                                        Chợ hạng 2: <span>{{hang_HangII}} chợ</span>
                                    </li>
                                    <li>
                                        Chợ hạng 3: <span>{{hang_HangIII}} chợ</span>
                                    </li>
                                    <li>
                                        Làm tạm: <span>{{hang_LamTam}} chợ</span>
                                    </li>
                                    <li>
                                        Chưa có hạng: <span>{{hang_ChuaCo}} chợ</span>
                                    </li>
                                </ul>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-4">
                        <mat-card class="card-default">
                            <mat-card-header>
                                <mat-card-title>
                                    <mat-icon>filter</mat-icon> 4. Tính chất công trình:
                                </mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <ul>
                                    <li>
                                        Chợ kiên cố: <span>{{congtrinh_KienCo}}</span>
                                    </li>
                                    <li>
                                        Chợ bán kiên cố: <span>{{congtrinh_BanKienCo}}</span>
                                    </li>
                                    <li>
                                        Chợ tạm: <span>{{congtrinh_Tam}}</span>
                                    </li>
                                </ul>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <mat-card class="card-default">
                            <mat-card-header>
                                <mat-card-title>
                                    <mat-icon>filter</mat-icon> 5. Phân theo tính chất kinh doanh:
                                </mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <ul>
                                    <li>
                                        Chợ chuyên doanh: <span>{{kinhdoanh_choDauMoiChuyenDoanh}}</span>
                                    </li>
                                    <li>
                                        Chợ tổng hợp: <span>{{kinhdoanh_choDauMoiTongHop}}</span>
                                    </li>
                                    <li>
                                        Chợ bán lẻ: <span>{{kinhdoanh_choBanLe}}</span>
                                    </li>

                                </ul>
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4">
                        <mat-card class="card-default">
                            <mat-card-header>
                                <mat-card-title>
                                    <mat-icon>filter</mat-icon> 6. Phân theo hình thức quản lý:
                                </mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <ul>
                                    <li>
                                        Ban/Tổ quản lý: <span>{{quanly_BanTo}}</span>
                                    </li>
                                    <li>
                                        Doanh nghiệp/HTX quản lý: <span>{{quanly_DoanhNghiep}}</span>
                                    </li>
                                    <!-- <li>
                                        Hợp tác xã: <span>{{quanly_HopTacXa}}</span>
                                    </li> -->
                                    <li>
                                        Hộ kinh doanh: <span>{{quanly_HoKinhDoanh}}</span>
                                    </li>
                                </ul>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <hr>
                <div class="row">

                    <div class="col-12 col-sm-6 col-lg-4">
                        <mat-card class="card-default">
                            <mat-card-header>
                                <mat-card-title>
                                    <mat-icon>filter</mat-icon> 7. Tổng vốn đầu tư chợ:
                                </mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <ul>
                                    <li>
                                        Vốn ngân sách Trung Ương: <span>{{tongvon_VonNganSachTW |
                                            formatNumber}}</span>
                                    </li>
                                    <li>
                                        Vốn ngân sách địa phương: <span>{{tongvon_VonNganSachDiaPhuong |
                                            formatNumber}}</span>
                                    </li>
                                    <li>
                                        Vốn doanh nghiệp, hợp tác xã, hộ kinh doanh: <span>{{tongvon_DNHTXHL |
                                            formatNumber}}</span>
                                    </li>
                                    <li>
                                        Vốn khác: <span>{{tongvon_Khac | formatNumber}}</span>
                                    </li>
                                </ul>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <mat-card class="card-default">
                            <mat-card-header>
                                <mat-card-title>
                                    <mat-icon>filter</mat-icon> 8. Hoạt động đầu tư phát triển chợ:
                                </mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <ul>
                                    <li>
                                        Chợ xây dựng mới năm {{currentYear}}: <span>{{xaydung_Moi}}</span>
                                    </li>
                                    <li>
                                        Chợ nâng cấp, cải tạo năm {{currentYear}}: <span>{{xaydung_CaiTao}}</span>
                                    </li>
                                    <li>
                                        Chợ chuyển đổi mô hình:
                                        <span>{{xaydung_CD_MoHinh}}</span>
                                    </li>
                                    <li>
                                        Chợ chuyển đổi công năng: <span>
                                            {{xaydung_CD_CongNang}}</span>
                                    </li>
                                    <li>
                                        Chợ hoạt động dưới 30% số điểm
                                        <span>{{xaydung_HD_Duoi30}}</span>
                                    </li>
                                </ul>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>folder_open</mat-icon>
                        &nbsp;
                        <strong>DỮ LIỆU CHI TIẾT</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Địa bàn</mat-label>
                            <mat-select (selectionChange)="applyFilter($event)" [(ngModel)]="filterModel.id_quan_huyen"
                                multiple>
                                <mat-option *ngFor='let district of districts' [value]='district.id'>
                                    {{district.ten_quan_huyen}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Loại chợ</mat-label>
                            <mat-select (selectionChange)="applyFilter($event)" [(ngModel)]="filterModel.id_loai_cho"
                                multiple>
                                <mat-option *ngFor='let type of marketTypeList' [value]='type.id_loai_cho'>
                                    {{type.ten_loai_cho}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Hạng chợ</mat-label>
                            <mat-select (selectionChange)="applyFilter($event)" [(ngModel)]="filterModel.id_hang_cho"
                                multiple>
                                <mat-option *ngFor='let type of marketLevelList' [value]='type.id_hang_cho'>
                                    {{type.loai_hang_cho}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Tính chất công trình</mat-label>
                            <mat-select (selectionChange)="applyFilter($event)"
                                [(ngModel)]="filterModel.id_tinh_chat_cho" multiple>
                                <mat-option *ngFor='let type of marketPropTypeList' [value]='type.id_tinh_chat_cho'>
                                    {{type.tinh_chat_cho}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-12 col-sm-12 col-lg-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Lọc dữ liệu</mat-label>
                            <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
                        </mat-form-field>
                    </div>

                    <div class="col-12 col-sm-6 col-lg-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Tính chất kinh doanh</mat-label>
                            <mat-select (selectionChange)="applyFilter($event)"
                                [(ngModel)]="filterModel.id_tinh_chat_kinh_doanh" multiple>
                                <mat-option *ngFor='let type of marketPropCommerceList'
                                    [value]='type.id_tinh_chat_kinh_doanh'>
                                    {{type.ten_tinh_chat_kinh_doanh}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-12 button-control text-left my-auto">
                        <button mat-raised-button class="green"
                            (click)="ExportTOExcel('DỮ LIỆU CHỢ','DỮ LIỆU CHỢ')">Xuất
                            Excel</button>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12 button-control my-auto">
                        <button mat-raised-button matTooltip="Thêm mới" class="green" (click)="switchView()"
                            [hidden]=authorize>
                            <mat-icon>add_circle_outline</mat-icon>
                        </button>

                        <button *ngIf="selection.selected.length != 0" class="red" matTooltip="Xóa" mat-raised-button
                            (click)="openRemoveDialog()" [hidden]=authorize>
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button *ngIf="selection.selected.length == 1" matTooltip="Chỉnh sửa" [hidden]=authorize
                            mat-raised-button (click)="switchEditMode()">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </div>
                </div>
                <hr />
                <div class="layout" *ngIf="filteredDataSource.data.length; else ShowEmpty" #TABLE>
                    <table mat-table [dataSource]="filteredDataSource" class="table-layout" id="small-table2">
                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef disableClear>
                                <mat-checkbox (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                                    [aria-label]="checkboxLabel()">
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let element" class="center-cell">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(element) : null"
                                    [checked]="selection.isSelected(element)" [aria-label]="checkboxLabel(element)">
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="index">
                            <th mat-header-cell *matHeaderCellDef> STT </th>
                            <td mat-cell *matCellDef="let element; let i = index;" class="center-cell">
                                {{this.filteredDataSource.paginator.pageIndex == 0 ? i
                                + 1 : 1 + i + this.filteredDataSource.paginator.pageIndex *
                                this.filteredDataSource.paginator.pageSize}}
                            </td>
                        </ng-container>

                        <div *ngFor="let field of displayedFields | keyvalue">
                            <ng-container matColumnDef="{{field.key}}" [sticky]="field.key == 'ten_cho' ? true : null">
                                <th mat-header-cell *matHeaderCellDef> {{field.value}} </th>
                                <ng-container *ngIf="field.key != 'tinh_trang_hoat_dong';else activeFieldCond">
                                    <ng-container
                                        *ngIf="!['nam_xay_dung', 'nam_nang_cap'].includes(field.key);else yearFieldCond">
                                        <ng-container
                                            *ngIf="!['dau_tu', 'so_ho_duoi_30', 'so_chuyen_doi_chuc_nang', 'so_chuyen_doi_hinh_thuc_quan_ly',
                                            'von_nstw', 'von_nsdp', 'von_dn_htx_hkd', 'von_khac', 'tong_von',
                                            'ban_quan_ly', 'to_quan_ly', 'doanh_nghiep', 'hop_tac_xa', 'ho_kinh_doanh'].includes(field.key);else qtyFieldCond">
                                            <ng-container
                                                *ngIf="!['ngay_het_han', 'ngay_cap','thoi_gian_chinh_sua_cuoi'].includes(field.key) ;else dateFieldCond">
                                                <ng-container
                                                    *ngIf="!['ten_cho'].includes(field.key) ;else isTenChoFieldCond">
                                                    <td mat-cell *matCellDef="let element"> {{element[field.key]}}</td>
                                                </ng-container>
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>

                                </ng-container>

                                <ng-template #activeFieldCond>
                                    <td mat-cell *matCellDef="let element"> {{element[field.key] == 1? 'Hoạt động' :
                                        'Hết hạn'}}</td>
                                </ng-template>

                                <ng-template #qtyFieldCond>
                                    <td mat-cell *matCellDef="let element" style="width: 75px;"> {{element[field.key] |
                                        formatNumber}}</td>
                                </ng-template>

                                <ng-template #dateFieldCond>
                                    <td mat-cell *matCellDef="let element"> {{element[field.key] | date:'dd/MM/yyyy,
                                        h:mm a'}}
                                    </td>
                                </ng-template>

                                <ng-template #isTenChoFieldCond>
                                    <td mat-cell *matCellDef="let element" style="width: 150px;">
                                        {{element[field.key]}}</td>
                                </ng-template>

                                <ng-template #yearFieldCond>
                                    <td mat-cell *matCellDef="let element">
                                        {{!element[field.key] ? '': element[field.key]}}</td>
                                </ng-template>

                            </ng-container>
                        </div>

                        <!-- Table header row 2 -->
                        <ng-container matColumnDef="general">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;" [attr.colspan]="11">
                                Thông tin chung
                        </ng-container>

                        <ng-container matColumnDef="marketManagementType">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;" [attr.colspan]="6">
                                Hoạt động đầu tư phát triển chợ</th>
                        </ng-container>

                        <ng-container matColumnDef="managementType">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;" [attr.colspan]="5">Vốn đầu
                                tư</th>
                        </ng-container>

                        <ng-container matColumnDef="marketManageInfo">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;" [attr.colspan]="6">Hình
                                thức quản lý</th>
                        </ng-container>

                        <ng-container matColumnDef="thoigian">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;" [attr.colspan]="1"></th>
                        </ng-container>

                        <!-- <ng-container matColumnDef="investment">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;" [attr.colspan]="6"> Vốn
                                Đầu tư phát triển chợ </th>
                        </ng-container> -->

                        <tr mat-header-row class="table-header"
                            *matHeaderRowDef="['general', 'marketManagementType', 'managementType', 'marketManageInfo', 'thoigian']; sticky: true">
                        </tr>

                        <tr mat-header-row class="table-header" *matHeaderRowDef="displayedColumns; sticky : true">
                        </tr>
                        <tr mat-row class="table-row" *matRowDef="let row; columns: displayedColumns;let i = index; ">
                    </table>
                </div>
                <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
                <ng-template #ShowEmpty>
                    <h3 class="text-center">Không có dữ liệu</h3>
                </ng-template>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
</mat-card>

<!-- Form view -->
<mat-card class="material" *ngIf="view == 'form'">
    <mat-card-content>
        <mat-accordion>
            <mat-card-header>
                <mat-card-title>
                    <strong class="mt-3">CHỈNH SỬA DỮ LIỆU</strong>
                    <button mat-raised-button color="primary" matTooltip="Trở về danh sách"
                        class="float-right set-bg-color-primary" (click)="switchView()">
                        <mat-icon>menu</mat-icon> &nbsp;Danh sách
                    </button>
                </mat-card-title>
            </mat-card-header>
            <hr>
            <form [formGroup]="formData" (ngSubmit)="onCreate()">
                <div class="form-group row">

                    <div class="col-md-12">
                        <mat-card-header>
                            <mat-card-title class="text-left">
                                Thông tin chợ
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="row">
                                <input matInput formControlName="id" type="text" class="o_invisible">
                                <div class="col-md-9">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Tên chợ</mat-label>
                                        <input matInput formControlName="ten_cho" type="text" placeholder="Chợ ...">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3 col-lg-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Địa bàn</mat-label>
                                        <mat-select formControlName="id_phuong_xa">
                                            <mat-option>
                                                <ngx-mat-select-search placeholderLabel="Nhập giá trị tìm kiếm"
                                                    noEntriesFoundLabel="Giá trị không có trong danh sách"
                                                    [formControl]="phuongxafilter">
                                                </ngx-mat-select-search>
                                            </mat-option>

                                            <mat-option *ngFor="let item of filtersubdistrict | async"
                                                [value]="item.id_phuong_xa">
                                                {{item.ten_phuong_xa}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Tính chất kinh doanh</mat-label>
                                        <mat-select formControlName="id_tinh_chat_kinh_doanh">
                                            <mat-option *ngFor='let type of marketPropCommerceList'
                                                [value]='type.id_tinh_chat_kinh_doanh'>
                                                {{type.ten_tinh_chat_kinh_doanh}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Hạng chợ</mat-label>
                                        <mat-select formControlName="id_hang_cho">
                                            <mat-option *ngFor='let type of marketLevelList' [value]='type.id_hang_cho'>
                                                {{type.loai_hang_cho}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Loại chợ</mat-label>
                                        <mat-select formControlName="id_loai_cho">
                                            <mat-option *ngFor='let type of marketTypeList' [value]='type.id_loai_cho'>
                                                {{type.ten_loai_cho}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Tính chất công trình</mat-label>
                                        <mat-select formControlName="id_tinh_chat_cho">
                                            <mat-option *ngFor='let type of marketPropTypeList'
                                                [value]='type.id_tinh_chat_cho'>
                                                {{type.tinh_chat_cho}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6 col-lg-6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Đầu tư</mat-label>
                                        <input matInput type="text" formControlName="ke_hoach_dau_tu">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6 col-lg-6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Hình thức quản lý</mat-label>
                                        <input matInput type="text" formControlName="hinh_thuc_quan_ly">
                                    </mat-form-field>
                                </div>

                            </div>
                        </mat-card-content>
                    </div>

                    <div class="col-md-12">
                        <mat-card-header>
                            <mat-card-title class="text-left">
                                <span class="pt-2"> Vốn Đầu tư phát triển chợ </span>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="row">
                                <!-- <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Vốn đầu tư Tổng</mat-label>
                                        <input matInput type="number" formControlName="vdt_tong">
                                    </mat-form-field>
                                </div> -->

                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Vốn NSTW</mat-label>
                                        <input matInput type="number" formControlName="von_nstw">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Vốn NSĐP</mat-label>
                                        <input matInput type="number" formControlName="von_nsdp">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Vốn DN/HTX/HKD</mat-label>
                                        <input matInput type="number" formControlName="von_dn_htx_hkd">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Vốn khác</mat-label>
                                        <input matInput type="number" formControlName="von_khac">
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-card-content>
                    </div>

                    <div class="col-md-12">
                        <mat-card-header>
                            <mat-card-title class="text-left">
                                <span class="pt-2"> Hoạt động đầu tư phát triển chợ </span>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="row">

                                <div class="col-md-3 col-lg-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Xây dựng mới trong năm</mat-label>
                                        <input matInput type="number" formControlName="nam_xay_dung">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3 col-lg-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Nâng cấp cải tạo trong năm</mat-label>
                                        <input matInput type="number" formControlName="nam_nang_cap">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3 col-lg-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Đầu tư xây dựng nhưng không hoạt động</mat-label>
                                        <input matInput type="number" formControlName="dau_tu">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3 col-lg-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Số hộ kinh doanh dưới 30%</mat-label>
                                        <input matInput type="number" formControlName="so_ho_duoi_30">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3 col-lg-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Số chợ chuyển đổi chức năng hoạt động</mat-label>
                                        <input matInput type="number" formControlName="so_chuyen_doi_chuc_nang">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3 col-lg-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Số chợ chuyển đổi mô hình quản lý</mat-label>
                                        <input matInput type="number" formControlName="so_chuyen_doi_hinh_thuc_quan_ly">
                                    </mat-form-field>
                                </div>

                            </div>
                        </mat-card-content>
                    </div>

                    <div class="col-md-12">
                        <mat-card-header>
                            <mat-card-title class="text-left">
                                <span class="pt-2"> Hình thức quản lý chợ </span>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="row">

                                <!-- <div class="col-md-6 col-lg-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Số người</mat-label>
                                        <input matInput type="number" formControlName="htql_so_nguoi">
                                    </mat-form-field>
                                </div> -->

                                <div class="col-md-3 col-lg-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Ban quản lý</mat-label>
                                        <input matInput type="number" formControlName="ban_quan_ly">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3 col-lg-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Tổ quản lý</mat-label>
                                        <input matInput type="number" formControlName="to_quan_ly">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3 col-lg-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Doanh nghiệp/Hợp tác xã</mat-label>
                                        <input matInput type="number" formControlName="doanh_nghiep">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3 col-lg-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Hợp tác xã</mat-label>
                                        <input matInput type="number" formControlName="hop_tac_xa">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3 col-lg-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Hộ kinh doanh</mat-label>
                                        <input matInput type="number" formControlName="ho_kinh_doanh">
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-card-content>
                    </div>
                    <div class="col-md-12">
                        <mat-card-header>
                            <mat-card-title class="text-left">
                                <span class="pt-2"> Thông tin địa lý GIS </span>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="row">
                                <div class="col-md-3 col-lg-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Kinh độ</mat-label>
                                        <input matInput type="string" formControlName="kinh_do">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3 col-lg-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Vĩ độ</mat-label>
                                        <input matInput type="string" formControlName="vi_do">
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-card-content>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-success float-right">Lưu</button>
                        <button class="btn btn-danger set-bg-color-danger float-left"
                            (click)="clearTable($event)">Xóa</button>
                    </div>
                </div>
            </form>
        </mat-accordion>
    </mat-card-content>
</mat-card>